// ****************************************
// upload employee
// ****************************************

.uploaded-employee-data {
    margin: 40px 0 0;
}

.uploaded-employee-data__info {
    padding: 0;
    list-style: none;
    margin: 20px 0;

    li {
        display: inline-block;
        border-right: 1px solid $border-color;
        padding: 0 40px;
        font-size: 1.6rem;

        @include MediaQueries($tablet-and-below) {
            display: block;
            padding: 0;
            border: 0;
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            border-right: 0;
            padding-right: 0;
        }

        .f-icon__success {
            color: $base-white;
            background: $base-green;
            border-radius: 100%;
            font-size: 1.4rem;
            padding: 0 3px 1px;
        }

        .f-icon__not-reported {
            color: $base-red;
            font-size: 2rem;
        }
    }
}
