// ****************************************
// buttons
// ****************************************

// buttons reset
input[type="button"],
button {
    border: 0;
    outline: 0;
    cursor: pointer;
}

// focus outline for accessability
*:focus {
    @extend .outline;
}

// disabled button state
button:disabled,
[disabled] {
    color: #ddd;
    cursor: not-allowed;
    opacity: 0.4;
}

.btn {
    @include button();
    background-color: $primary-color;
    color: $base-white;

    &:hover:not(:disabled) {
        background-color: lighten($primary-color, 10%);
    }

    &:active:not(:disabled) {
        background-color: darken($primary-color, 10%);
    }
}

.k-button {
    @include button();
    background-color: $primary-color;
    color: $base-white;
    border: 0 none;
    box-shadow: 0 0 0;

    &:hover:not(:disabled),
    &:active:hover,
    &.k-state-active:hover,
    &.k-state-hover {
        border: 0 none;
        color: $base-white;
        background-color: lighten($primary-color, 10%);
        box-shadow: 0 0 0;
    }

    &:focus:not(:disabled),
    &:active:not(:disabled),
    &.k-state-focused,
    &:active:hover {
        border: 0 none;
        color: $base-white;
        background-color: darken($primary-color, 10%);
        box-shadow: 0 0 0 !important;
    }
}

.btn + .btn,
.btn--secondary + .btn--secondary {
    margin-left: 15px;
}

.btn__full {
    width: 100%;
}

.footer-bts-container {
    margin-top: 20px;
}

.btn--secondary {
    padding: 6px 12px;
    border: 1px solid $primary-color;
    font-size: 1.4rem;
    border-radius: $border-radius__width;
    background: transparent;
    color: $primary-color;

    & .f-icon {
        margin-right: 5px;
    }

    &:hover:not(:disabled) {
        border-color: $secondary-color;
    }

    &:active:not(:disabled) {
        background-color: $primary-color;
        color: $base-white;
    }
}

// icons buttons array
$iconButtons: (
    'btn-edit'       : $base-orange,
    'btn-delete'     : $base-red,
    'btn-save'       : $base-green,
    'btn-add-comment': $base-cyan
);

// loop through the $iconButtons and print selectors for each one.
@each $class, $color in $iconButtons {
    .#{$class} {
        @include iconButton($color);
    }
}

// style to remove border for filter off and on in employee pages
.buttonBorderNone{
    border:none !important;
}