// ****************************************
// buttons
// ****************************************

// mixins for code DRY
@mixin button() {
    font-size: 1.4rem;
    padding: 12px 15px;
    border-radius: $border-radius__width;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    outline: 0;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    text-decoration: none;
    line-height: 1;
    font-weight: $regular;
    letter-spacing: 1px;

    &:hover,
    &:active,
    &:focus,
    &:visited {
        text-decoration: none;
    }
}

@mixin iconButton($color, $gridIcon:false) {
    background: transparent;
    font-size: 2rem;
    padding: 0;
    width: 24px;
    height: 24px;
    color: $color;

    // @if $gridIcon {
    //     .k-state-selected & {
    //         text-shadow: 0 1px 2px rgba(0,0,0, 0.6);
    //     }
    // }
}

// buttons reset
input[type="button"],
button {
    border: 0;
    outline: 0;
    cursor: pointer;
}

// focus outline for accessability
*:focus {
    @extend .outline;
}

// disabled button state
button:disabled,
[disabled] {
    color: #ddd;
    cursor: not-allowed;
    opacity: 0.4;
}

.btn {
    @include button();
    background-color: $primary-color;
    color: $base-white;

    &:hover:not(:disabled) {
        background-color: lighten($primary-color, 10%);
    }

    &:active:not(:disabled) {
        background-color: darken($primary-color, 10%);
    }
}

.btn + .btn,
.btn--secondary + .btn--secondary {
    margin-left: 15px;
}

.btn__full {
    width: 100%;
}

.footer-bts-container {
    margin-top: 20px;
}

.btn--secondary {
    padding: 6px 10px;
    border: 1px solid $primary-color;
    font-size: 1.4rem;
    border-radius: $border-radius__width;
    background: transparent;
    color: $primary-color;

    & .f-icon {
        margin-right: 5px;
    }

    &:hover:not(:disabled) {
        border-color: $secondary-color;
    }

    &:active:not(:disabled) {
        background-color: $primary-color;
        color: $base-white;
    }
}

.btn-edit {
    @include iconButton($color: #f93, $gridIcon: true);
}

.btn-delete {
    @include iconButton($color: $base-red, $gridIcon: true);
}
