// ****************************************
// checkbox-and-radio-button
// ****************************************

// checkbox
.checkbox {
    @include commonCheckRadioStyles();

    &__text::before {
        border-radius: $border-radius__width;
        //box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.2);
    }

    &__text::after {
        top: 6px;
        left: 4px;
        width: 9px;
        height: 4px;
    	background: transparent;
    	border: 2px solid $primary-color;
    	border-top: none;
    	border-right: none;
    	transform: rotate(-45deg);
    }
}

// radio-button
.radio-button {
    @include commonCheckRadioStyles();

    &__text:before {
        border-radius: 100%;
    }

    &__text:after {
        top: 4px;
        left: 4px;
        width: 12px;
        height: 12px;
        background: $primary-color;
        border-radius: 100%;
    }

    // disabled and checked
    &__inp:disabled:checked + &__text::after {
        background-color: $inp-disabled-border;
    }
}
