// ****************************************
// form-elements
// ****************************************
@import "input-text";
@import "buttons";
@import "checkbox-and-radio-button";

.form-list {
    @extend %no-list;

    li {
        padding: 5px 10px 8px 0;
        display: inline-block;
        vertical-align: top;
        width: 196px;
    }
	// Start of styles for radio buttons to inline in demographics page 
	&-alertmsg{
	 @extend %no-list;
	display:inline-block;
	

    li {
       
        display: inline-block;
        vertical-align: top;
        width: 100px;
    }
	@include MediaQueries($mobile) {
   display:block;
   
    li {
       
        display: block;
       
    }
}
	}
	&-inline{
	 @extend %no-list;

    li {
        padding: 5px 10px 8px 0;
        display: inline-block;
        vertical-align: top;
        width: 100px;
    }
	@include MediaQueries($mobile) {
    li {
       
        display: block;
       
    }
}


	}
	// End of styles for radio buttons to inline in demographics page 
	
  .displayBlock {
    display:block;
}

}
/*starts styles for to make horizontal radio buttons for sheltree*/ 
.form-list-inline-mixin {
    display:inline-block;
    @extend %no-list;

     li {
        display: inline-block;
        vertical-align: top;

        @include MediaQueries($mobile) {
               display:block;
        }
         @include MediaQueries($desktop-and-above) {
               padding: 0;
         }
        }
 }

/*starts styles for care requirements input sheltree*/ 
.form-list-horizontal {
    @extend .form-list-inline-mixin;

     li {
        padding: 5px 0px 8px 0;
        width: 60px;
        }
 }
/*ends styles for care requirements input sheltree*/ 
/*starts styles for disposition input sheltree*/ 
.disposition .form-list-horizontal-accepted {
    @extend .form-list-inline-mixin;

     li {
        width:100px;
        margin:10px 0 0 !important;
        }
 }
.disposition .form-list-horizontal-notaccepted {
    @extend .form-list-inline-mixin;

     li {
        width:190px;
        margin:10px 0 0 !important;
        }
 }
/*ends styles for disposition input sheltree*/ 
/*ends styles for to acive horizontal radio buttons for sheltree*/ 
