// ****************************************
// form-elements
// ****************************************
@import "input-text";
@import "buttons";
@import "checkbox-and-radio-button";

.form-list {
    @extend %no-list;

    li {
        padding: 5px 10px 8px 0;
        display: inline-block;
        vertical-align: top;
        width: 196px;

        @include MediaQueries($mobile){
            width: 100%;   
        }
    }
}
