// ****************************************
// input text
// ****************************************

// reset shadow for input elements
input[type="text"] {
    appearance: none;
}

::placeholder {
    color: $quaternary-color;
}

input[type="text"],
.form-inp {
    @include inputStyles();
    height: 40px;
}

.form-element-with-label {
    display: block;
    max-width: 400px;
    margin-bottom: 20px;

    &__text {
        display: block;
        margin-bottom: 5px;

        &_hint {
            color: $base-grey;
        }
    }

    &__value {
        display: block;
        line-height: 4rem;
        font-weight: $semi-bold;
    }

    &__inp {

    }
    //Added by UI Team
    //Start : Modified code to handle
    //Style to Occupy text box full width
	&-full {
        display: block;
        margin-bottom: 20px;
    }
    //End : Modified code to handle
}

//Added by UI Team
//Start : Added code to handle
//To apply styles for numeric textbox to be sync with textbox

input[data-role="maskedtextbox"] {
    @include inputStyles();
    height: 40px !important;
    padding:0px !important;
    text-indent: 0.4em;
}

//End : Added code to handle
textarea {
    @include inputStyles();
    min-height: 160px;
    box-sizing: border-box !important;
}

// invalid message ref: k-widget k-tooltip
.k-tooltip-validation.k-invalid-msg {
    box-shadow: none;
    background: none;
    border: 0;
    padding: 0;
    margin-top: 6px;
    color: $inp-error-border;
    display: block;
    text-align: left;

    .k-icon {
        display: none;
    }
}
