// ****************************************
// layout
// ****************************************

::placeholder {
    color: inherit;
    opacity: 0.4;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

body {
    font-family: $base__font-family;
    font-weight: $regular;
    font-size: $body-copy;
    line-height: $base__line-height;
    min-width: 320px;
    background-color: $body__bg-color;
    color: $body__text-color;
}

.accessibility-links {
    position: fixed;
    z-index: 99;
    top: 10px;
    left: 10px;

    & > a {
        display: inline-block;
        padding: 3px 5px;
    }

    .sr-only:active,
    .sr-only:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

.page-wrap{
    position: relative;
    padding-left: 55px;
    transition: $transition__default-all;

    // .has-nav-expanded & {
    //     padding-left: $nav-width;
    // }
}

.wrapper {
    position: relative;
    margin: 0;
    width: 100%;
    padding: 1rem 2rem;
}

.app-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 55px;
    overflow: hidden;
    transition: $transition__default-all;
    background-color: $app-header-bg;
    //Added by UI Team
    //Start : Modified code to handle
    z-index: 10003;
    //End : Modified code to handle

    // &::after {
    //     content: "";
    //     box-shadow: -1px 0 5px rgba(0,0,0, 0.5);
    //     position: absolute;
    //     right: 0;
    //     height: 100%;
    //     width: 1px;
    //     top: 0;
    // }

    .has-nav-expanded & {
        width: $nav-width;
        box-shadow: 2px 0 4px rgba(0,0,0, 0.3);
    }
}

.app-content{
    padding: 1rem 2rem 2rem;
    min-width: 265px;
    min-height: calc(100vh - 55px);

    @include MediaQueries($xlarge-and-above) {
        padding: 2rem 8rem 4rem 3rem;
    }
}

.loader-icon {
    width: 96px;
    height: 96px;
    background: url(../img/loader.svg) no-repeat center center;
}

// two column layout for add/edit screens
.l--two-column {
    @extend .flex-row;

    .column-one {
        @extend .flex-col-lg__1-3, .flex-col-md__1-2, .flex-col-sm__full;
        padding-right: 30px;

        @include MediaQueries($mobile) {
            padding-right: 0;
        }

    }

    .column-two {
        @extend .flex-col-lg__1-3, .flex-col-md__1-2, .flex-col-sm__full;
        //Added by UI Team
        //Start : Adding padding to labels and controls in second column to be in sync with firrst column padding
        padding-right: 30px;
        @include MediaQueries($mobile) {
            padding-right: 0;
        }

        //End  : Adding padding to labels and controls in second column to be in sync with firrst column padding
    }
}

//Added by UI Team
//Start : Added code to handle three column layout for add/edit screens
.l--three-column {
    @extend .flex-row;

    .column-one {
        @extend .flex-col-lg__1-3, .flex-col-md__1-3, .flex-col-sm__full;
        padding-right: 30px;

        @include MediaQueries($mobile) {
            padding-right: 0;
        }

    }

    .column-two {
        @extend .flex-col-lg__1-3, .flex-col-md__1-3, .flex-col-sm__full;
        padding-right: 30px;

        @include MediaQueries($mobile) {
            padding-right: 0;
        }

    }
        .column-three {
        @extend .flex-col-lg__1-3, .flex-col-md__1-3, .flex-col-sm__full ;

    }

}
// End : Added code to handle three column layout for add/edit screens


//Added by UI Team
//Start : Added code to handle issues in ie 10 and 11 in two columns and three column layouts

.k-ie .l--two-column{
    .column-one {
        @include MediaQueries($tablet) {
            padding-right: 0;
        }
    }

    .column-two {
        @include MediaQueries($tablet) {
            padding-right: 0;
        }
    }
}
.k-ie .l--three-column {
    .column-one {
        @include MediaQueries($tablet) {
            padding-right: 23px;
        }
    }

    .column-two {
        flex:0 0 28% !important;
                @include MediaQueries($tablet) {
            padding-right: 23px;
        }
    }
}
.k-ie .l--two-column-reports{
    .column-one {
        @include MediaQueries($tablet) {
            padding-right: 0;
        }
    }

    .column-two {
        @include MediaQueries($tablet) {
            padding-right: 0;
        }
    }
}

//Styles for removing border around text in ie broswers
.k-ie {
    &.outline:focus, :focus {
        outline: none;
    }
}
//End : Added code to handle issues in ie 10 and 11 in two columns and three column layouts


//Added by UI Team
//Start : Added code to handle no permission, invalida role and no active event
.invalid-role {
    background-color: $invalid-role-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40em;

    &__wrap {
        background-color:$base-white;
        padding: 10px 50px 0px 120px;
        border: 1px solid #ef9a9a;
        width: 70rem;
        position: relative;
        word-wrap: break-word;
        min-height:77px;
        text-align: center;

        &__icon {
            font-size: 5rem;
            @extend .f-icon, .f-icon__exclamation;
            color: $base-white;
            border: 1px solid $invalid-icon-bg;
            background-color: $invalid-icon-bg;
            position: absolute;
            left: 0px;
            top: 0px;
            line-height: 1;
            padding:12px;

        }

        &__title {
            font-size: 2.2rem;
            font-weight: 400;
            color: $invalid-icon-text;
            margin: 0;

        }
    }
}
//End : Added code to handle no permission, invalida role and no active event

//Added by UI Team
//Start : Added code to handle logout page

.logout-module {
    background-color: $logout-bg;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__wrap {
        margin-top: -50px;
        text-align: center;

        &__icon {
            font-size: 15rem;
            color: $logout-icon;
        }

        &__text {
            font-size: $h1;
            color: $logout-text;
            font-weight: $light;
        }
    }
}
//End : Added code to handle logout page
