// ****************************************
// theme
// ****************************************

// brand colors
$primary-color:            #375D81;
$secondary-color:          #ABC8E2;
$tertiary-color:           #183152;
$quaternary-color:         #F8F8F8;
$quinary-color:            #333;

// base colors
$base-white:               #fff;
$base-black:               #000;
$base-red:                 #c00;
$base-orange:              #f93;
$base-green:               #9CCC65;
$base-dark-green:          #489c49;
$base-cyan:                #26C6DA;

//Added by UI Team
//Start : Added code to handle pdf icon color
$base-blue:                #5c6bc0;
//End : Added code to handle pdf icon color

//Added by UI Team
//Start : Added code to handle instruction text
$base-grey:                #7b7b7b;
//End : Added code to handle instruction text

$border-color:             #d4d9e3;

// body colors
$body__text-color:         $tertiary-color;
$body__bg-color:           $quaternary-color;

// link colors
$link:    ;
$visited: ;
$hover:   ;
$visited: ;

// header
$app-header-bg:            $primary-color;
$app-logo-bg:              $tertiary-color;
$menu-collapse-btn-normal: $secondary-color;
$menu-collapse-btn-hover:  $base-white;

// navigation
$main-nav-bg:              $primary-color;
$main-nav-text:            $secondary-color;
$main-nav-active-bg:       $tertiary-color;
$main-nav-active-text:     $base-white;
$main-nav-divider:         #2b4b6e;

$sub-nav-divider:          #203b5d;
$sub-nav-active-bg:        #76a5ce;

// footer
$footer-border:            $secondary-color;
$footer-text:              $primary-color;

// alerts
$alerts-title-bg:          #689f38;

// table colors
$table-border:             $border-color;
$table-odd-row-bg:         $quaternary-color;
$table-header-bg:          $secondary-color;
$table-header-text:        $tertiary-color;

// input states
$inp-normal-border:        $primary-color;
$inp-focus-border:         $primary-color;
$inp-hover-border:         $secondary-color;
$inp-disabled-bg:          #f2f2f2;
$inp-disabled-border:      #b2b2b2;
$inp-sucess-border:        #43a047;
$inp-error-border:         #e53935;

//Added by UI Team
//Start : Added code to handle invalid role, no permission and no active event
//invalid role
$invalid-role-bg:         #f8f8f8;
$invalid-icon-bg:         #ef9a9a;
$invalid-icon-text:       #e53935;
//End : Added code to handle invalid role, no permission and no active event


//Added by UI Team
//Start : Added code to handle logout
$logout-bg:              #375e80;
$logout-icon:            #294f66;
$logout-text:            #c3cfd8;
//End : Added code to handle logout
