// ****************************************
// typography
// ****************************************

a{
    color: $link;
    text-decoration: none;

    &:visited{
        color: $visited;
    }

    &:hover,
    &:focus{
        color: $hover;
        text-decoration: underline;

        li & {
            text-decoration: none;
        }
    }

    &:active {
        color: $visited;
        text-decoration: none;
    }
}

b, strong, h2, h3, h4{
    font-weight: $semi-bold;
}

h1 {
    font-size: 2.4rem;
    font-weight: $light;
}

.module-title {
    font-size: 2.4rem;
    font-weight: $light;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid $border-color;

    @include MediaQueries($xmobile) {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }

    &__icon {
        @extend .f-icon, .f-icon__nav-help;
        font-size: 1.6rem;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        cursor: pointer;
    }
}



//Added by UI Team
//Start : Added code to handle styles for sheltree input
.module-section-container {
    padding: 0 15px;

    @include MediaQueries($xmobile) {
        padding: 0;
    }
}

.module-section {
    background-color: #fff;
    padding: 5px 5px 10px 5px;

    @include MediaQueries($xmobile) {
        background: transparent;
        padding: 0;
    }

    &__title {
        font-size: 1.6rem;
        margin-bottom: 25px;
        padding: 10px 0px 10px 15px;
        background-color: #e7eff7;
        font-weight: $semi-bold;
        border-radius: 2px;
    }
}
// End : Added code to handle styles for sheltree input

//Start : Added code to handle styles for comments history
.Comments-History {
    word-wrap: break-word;
    text-align: justify;
    height: 170px;
    overflow-y: auto;

    &-label {
        color: red;
    }

    &-comment {
        display: block;
        color: #375d81;
        margin: 0 10px 5px 26px;
    }
}
//End : Added code to handle styles for comments history
