// ****************************************
// question
// ****************************************
.add-option {
    position: relative;
    max-width: 450px;

    &__delete {
        position: absolute;
        right: 5px;
        top: 0;
        padding: 8px;

        @include MediaQueries($xmobile) {
            right: 1px;
            background: $base-white;
            bottom: 1px;
            top: 1px;
            border-radius: 2px;
            border-left: 1px solid $border-color;
        }
    }
}

.question-addoption {
    margin-bottom: 10px;
}

//End : Added view specific styles
