// ****************************************
// app-footer
// ****************************************

.app-footer{
    text-align: center;
    padding: 1rem 4rem;
    border-top: 1px solid $footer-border;
    color: $footer-text;

    p {
        margin: 0;
    }

    &__copyright-text,
    &__rights-text {
        font-size: 1.3rem;
        display: block;
    }
}
