// ****************************************
// kendo grid/table
// ****************************************
@mixin kendoInpoutStates() {
    &.k-state-hover,
    &.k-state-hover > .k-select {
        border-color: $inp-hover-border;
    }

    &.k-state-focused,
    &.k-state-focused > .k-select,
    &.k-state-active,
    &.k-state-active > .k-select {
        border-color: $inp-focus-border;
        box-shadow: 0 0 0;
    }

    &.k-state-disabled,
    &.k-state-disabled > .k-select {
        background-color: $inp-disabled-bg;
        border-color: $inp-disabled-border;
        color: $quinary-color;
        cursor: not-allowed !important;
    }
}

.custom-select {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 400px;
}

.k-dropdown.k-header,
.k-combobox.k-header,
.k-dropdown-wrap.k-state-default {
    border-color: $inp-normal-border;
    box-shadow: 0 0 0;
    width: 100%;
    min-height: 40px;
    box-sizing: border-box;
}

//Added by UI Team
//Start : Added code to handle background color for dropdowns
.k-dropdown-wrap.k-state-default {
    background-color: #fff;
}
//End : : Added code to handle background color for dropdowns

.k-dropdown-wrap {
    .k-select {
        border-left: 1px solid;
    }

    .k-input {
        padding: 4px 0 3px;
    }

    @include kendoInpoutStates();
}

.k-dropdown-wrap > .k-select {
    background-color: transparent;
    border-color: $inp-normal-border;
}

.k-popup.k-list-container {
    border-color: $inp-normal-border;
}

.k-popup .k-list .k-item {
    border-bottom: 1px solid $border-color;
}

.k-list>.k-item.k-state-selected,
.k-list>.k-state-hover {
    background-color: $secondary-color;
    color: $tertiary-color;
}

// invalid
.k-invalid .k-dropdown-wrap,
.k-invalid .k-dropdown-wrap > .k-select {
    border-color: $inp-error-border;
}

.k-valid .k-dropdown-wrap,
.k-valid .k-dropdown-wrap  > .k-select {
    border-color: $inp-sucess-border;
}

//Added by UI Team
//Start : Modified code to handle changed label name unAssigned to Assigned in employee attendance
// dropdown with status icons
.icon-Reported::before,
.icon-Assigned::before,
.icon-NotReported::before {
    @extend .f-icon:before;
    margin-right: 6px;
    font-size: 2rem;
    vertical-align: -2px;
}

.icon {
    &-Reported::before {
        @extend .f-icon__success:before;
        color: $base-green;
    }

    &-Assigned::before {
        @extend .f-icon__nav-help:before;
        color: $base-orange;
    }

    &-NotReported::before {
        @extend .f-icon__not-reported:before;
        color: $base-red;
    }
}
//End  : Modified code to handle changed label name unAssigned to Assigned in employee attendance