// ****************************************
// kendo datepicker
// ****************************************

.custom-datepicker,
.custom-datetimepicker {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 400px;

    @include MediaQueries($mobile) {
        .k-grid td & {
            width: calc(100% - 15px);
        }
    }
}

//Added by UI Team
//Start : Modified code to handle time picker (k-timepicker)
.k-datepicker,
.k-timepicker,
.k-datetimepicker {
    width: 100%;
    box-sizing: border-box;

    .k-input {
        background-color: transparent;
        min-height: 33px;
    }
}
//End : Modified code to handle time picker (k-timepicker)

.k-picker-wrap{
    &.k-state-default {
        border-color: $inp-normal-border;
        background-color: $base-white;
        box-shadow: 0 0 0;
        min-height: 38px;

        .k-select {
            border-color: $inp-normal-border;
        }
    }

    &.k-state-border-down {
        border-bottom-width: 1px;
    }

    @include kendoInpoutStates();
}

// invalid
.k-invalid .k-picker-wrap,
.k-invalid .k-picker-wrap > .k-select {
    border-color: $inp-error-border;
}

.k-valid .k-picker-wrap,
.k-valid .k-picker-wrap > .k-select {
    border-color: $inp-sucess-border;
}

//Added by UI Team
//Start : Added code to handle date and time picker as inline
.inlinedate-time .k-datepicker{
    width:56.5%;
    @include MediaQueries($mobile) {
        width:100%;
        margin-bottom:10px;
    }
}

.inlinedate-time .k-timepicker{
    width: 42%;
    @include MediaQueries($mobile) {
        width:70%;

    }
}
//End : Added code to handle date and time picker as inline

//Start : Added code to handle date picker formatting in all  pages
.k-calendar .k-content {
    padding:0 !important;
}
//End : Added code to handle date picker formatting in all  pages
