// ****************************************
// kendo grid/table
// ****************************************

$table-border: $border-color;
$table-odd-row-bg: $quaternary-color;
$table-header-bg: $secondary-color;
$table-header-text: $tertiary-color;

.gridsearch {
    @extend .flex-row, .flex--center;
    margin: 0 auto 20px;

    &__search-col {
        @extend .flex-col__1-2;
    }

    .search-label {
        display: block;

        &__text,
        &__inp {
            display: inline-block;
            vertical-align: middle;
        }

        &__inp {
            max-width: 80%;
        }
    }

    &__btns-col {
        @extend .flex-col__1-2;
        text-align: right;
    }
}

.k-grid,
.k-grid-header,
.k-grid-footer,
.k-grid-header-wrap,
.k-grid-footer-wrap,
.k-header,
.k-grid-content td {
    border-color: $table-border;
}

.k-grid-header th.k-header {
    background-color: $table-header-bg;
    color: $tertiary-color;
    font-weight: $bold;

    .k-link {
        text-decoration: none;
        color: $tertiary-color;
    }
}

.k-grid td.k-state-selected,
.k-grid tr.k-state-selected>td {
    border-color: $table-border;
}

.k-grid-content {
    table {
        background-color: $base-white;
    }

    tr:nth-child(even) {
        background-color: $table-odd-row-bg;

        &:hover {
            background-color: darken($table-odd-row-bg, 5%);
        }
    }

    td {
        padding: 10px 15px;
    }
}

.k-grid tr.k-state-selected td,
.k-grid tr.k-state-selected:hover td{
    background-color: transparent;
}

.k-grid tr.k-state-selected,
.k-grid tr.k-state-selected:hover {
    background-color: rgba($primary-color, 0.3);
    color: $tertiary-color;
}

.k-pager-numbers .k-state-selected {
    border-color: $primary-color transparent transparent;
    color: $primary-color;
}
