// ****************************************
// kendo grid/table
// ****************************************

.k-grid.k-widget .k-grid-content {
    overflow-y: visible;
}

.k-grid.k-widget .k-grid-header {
    padding-right: 0 !important;
}

.gridsearch {
    @extend .flex-row, .flex--center;
    margin: 0 auto 20px;

    &__search-col {
        @extend .flex-col__2-5, .flex-col-md__full, .flex-col-sm__full;
    }

    .search-label {
        display: block;
        position: relative;
        max-width: 80%;
        //Added by UI Team
        //Start : Added code to show hand cursor on hover of icons in IE 
        cursor:pointer;
        //End : Added code to show hand cursor on hover of icons in IE 

        &::before {
            @extend .f-icon:before, .f-icon__search:before;
            position: absolute;
            right: 0;
            font-size: 2.4rem;
            padding: 8px 10px;
            color: $base-white;
            background-color: $primary-color;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;

        }

        &__text,
        &__inp {
            display: inline-block;
            vertical-align: middle;
        }

        &__inp {
            max-width: 100%;
        }
    }

    &__btns-col {
        @extend .flex-col__3-5, .flex-col-md__full, .flex-col-sm__full;
        margin-top: 15px;

        @include MediaQueries($desktop-and-above){
            text-align: right;
            margin-top: 0;
        }
    }
}

.k-grid,
.k-grid-header,
.k-grid-footer,
.k-grid-header-wrap,
.k-grid-footer-wrap,
.k-header,
.k-grid-content td {
    border-color: $table-border;
}

.k-grid-header th.k-header {
    background-color: $table-header-bg;
    color: $table-header-text;
    font-weight: $regular;
    letter-spacing: 1px;
    border: 0;
    font-size: 1.3rem;

    .k-link {
        text-decoration: none;
        color: $table-header-text;
    }
}

.k-grid td.k-state-selected,
.k-grid tr.k-state-selected>td {
    border-color: $table-border;
}

.k-grid-content {
    table {
        background-color: $base-white;
    }

    tr:nth-child(even) {
        background-color: $table-odd-row-bg;

        &:hover {
            background-color: darken($table-odd-row-bg, 5%);
        }
    }

    td {
        padding: 10px 15px;
    }
}

.k-grid tr.k-state-selected td,
.k-grid tr.k-state-selected:hover td{
    background-color: transparent;
}

.k-grid tr.k-state-selected,
.k-grid tr.k-state-selected:hover {
    background-color: rgba($primary-color, 0.3);
    color: $tertiary-color;
}

.k-pager-numbers .k-state-selected {
    border-color: $primary-color transparent transparent;
    color: $primary-color;
}

// Styles for grid filter checkboxes and radio buttons
.k-filter-menu {
    @extend .cfx;
    min-width: 200px;

    label {
        display: block;
        margin: 5px 0;
    }

    input[type="checkbox"],
    input[type="radio"] {
        margin: 0 5px !important;
        position: relative;
        top: 3px;
    }

    .k-numerictextbox .k-select{
        max-height: 38px;
        display: inline-block;
        margin-left: -3px;
        width: 34px;
        border-left: 1px solid $primary-color;
        border-color: $primary-color;
    }
}
