// ****************************************
// kendo numerictextbox
// ****************************************

.k-widget.k-numerictextbox {
    width: 100%;
}

.k-numeric-wrap {
    &.k-state-default {
        border: 0;
        background-color: transparent;  
    }

    &.k-state-hover,
    &.k-state-focused {
        box-shadow: 0 0 0;
    }

    &::before {
        display: none;
    }
}

.k-numeric-wrap input.k-input {
    @include inputStyles();
    height: auto;
    line-height: inherit;
    box-sizing: border-box;
}
//Added style for numeric textbox in filter
.k-numerictextbox .k-select {
    border-bottom: 1px solid #3f51b5;
    border-left: none;
    border-right: 1px solid #3f51b5;
    border-top: 1px solid #3f51b5;
}