// ****************************************
// kendo popup window
// ****************************************
.k-window {
    width: 80%;
    max-width: 600px;

    &-titlebar {
        background-color: $primary-color;
    }

    &-action {
        transition: background-color $transition__default-time-ease;
        border-color: transparent;
        padding: 3px;

        &.k-state-hover {
            background-color: $tertiary-color;
            border-color: transparent;
        }
    }

    .form-element-with-label {
        max-width: none;
        width: 100%;
    }
}
