// ****************************************
// eployee header
// ****************************************
.employee-header {
    position: relative;
    width: 100%;
}

.employee-header__nav-list {
    @extend %no-list;
    position: absolute;
    right: 0;

    li {
        margin-left: 10px;
        display: inline-block;
    }
}

.employee-header__shelter {
    @extend .flex-row;
    position: absolute;
    top: 50px;
    width: 100%;
    margin: 20px 0;

    &-dropdown {
        @extend .flex-col__1-2;

        &__value-label {
            font-weight: $bold;
        }
    }

    &-event {
        @extend .flex-col__1-2, .flex--right-align;
        text-align: right;
    }

    &-event__name {
        // font-size: 1.6rem;
        // font-weight: $bold;
        text-transform: capitalize;
    }

    &-event__duration {
        //font-size: 1.2rem;
    }
}
