// ****************************************
// eployee header
// ****************************************
.employee-header {
    position: relative;
    width: 100%;
}

.employee-header__nav-list {
    @extend %no-list;
    position: absolute;
    right: 0;

    li {
        margin-left: 10px;
        display: inline-block;
    }
}

.employee-header__shelter {
    @extend .flex-row;
    position: absolute;
    top: 50px;
    width: 100%;
    margin: 20px 0;

    &-dropdown {
        @extend .flex-col__2-5;

        &__value-label {
            font-weight: $bold;
        }
    }

    &-event {
        @extend .flex-col__3-5, .flex--right-align;
        text-align: right;
    }

    &-event__name {
        // font-size: 1.6rem;
        // font-weight: $bold;
        text-transform: capitalize;
    }

    &-event__duration {
        //font-size: 1.2rem;
    }
}

// alignment fixes
.employee-header.is-option-one {
    .employee-header__shelter {
        top: 35px;
        background: #fff;
        padding: 15px;
        border: 1px solid #ddd;
    }

    .custom-select {
        max-width: calc(80% - 6px);
    }
}

.app-content.employee-header-option-two {
    .employee-header__shelter {
        top: 15px;
    }

    .is-employee-section {
        margin-top: 90px;
    }
}

.app-content.employee-header-option-three {
    .employee-header__shelter {
        background-color: transparent;
        padding:0 0 20px;
        border-width: 0 0 1px;
    }

    .custom-select {
        max-width: 80%;
    }

    .is-employee-section {
        margin-top: 100px;
    }
}
