// ****************************************
// employeeAttendance
// ****************************************
.header-section {
    position: relative;
}
.employee-attendance__row {
    @extend .flex-row, .flex--center;
}

.employee-attendance__shelter-event {
    @extend .flex-col__1-4, .flex-col-md__full, .flex-col-sm__full, .flex--right-align;
    text-align: right;

    @include MediaQueries($tablet-and-below) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    @include MediaQueries($xmobile) {
        display: block;
        margin-bottom: 15px;
        text-align: left;
    }

    strong {
        font-weight: $bold;
    }

    &__name {
        text-transform: capitalize;
    }

    &__duration {}
}

.employee-attendance__filters-section {
    @extend .flex-row, .flex-col__3-4, .flex-col-md__full, .flex-col-sm__full;
    margin: -15px 0 10px;

    label {
        display: block;
        margin-bottom: 4px;
    }

    &__shelters,
    &__shifts,
    &__shifts-date {
        margin: 10px 0;
        padding-right: 20px;
        width: 33.33%;

        &:last-child {
            padding-right: 0;
        }

        @include MediaQueries($xmobile) {
            width: 100%;
            padding-right: 0;
        }
    }

    .custom-datetimepicker {
        width: calc(100% - 50px);

        @include MediaQueries($mobile) {
            width: calc(100% - 55px);
        }
    }

    &__go-btn {
        display: inline-block;
        vertical-align: top;

        .btn {
            margin-left: 5px;
            padding: 12px 10px;
        }
    }
}

.employee-attendance__action-buttons {
    @extend .flex-col__1-3, .flex-col-md__full, .flex-col-sm__full, .flex--right-align;
    text-align: right;
    margin: 20px 0;
}

.employee-attendance__notification-info {
    position: absolute;
    top: -5px;
    right: 40px;

    @include MediaQueries($xlarge-and-above) {
        right: 0;
    }

    @include MediaQueries($tablet-and-below) {
        position: static;
        width: 100%;
    }

    @include MediaQueries($xmobile) {
        margin-bottom: 15px;
    }

    ul {
        @extend %no-list, .flex-row;

        @include MediaQueries($xmobile) {
            display: block;
        }
    }

    li {
        flex: 1 0 auto;
        background-color: $base-white;
        padding: 5px 10px;
        text-align: center;
        border-right: 10px solid $quaternary-color;

        &:last-child {
            border-right: 0;
        }

        @include MediaQueries($tablet-and-below) {
            margin-bottom: 20px;
        }

        @include MediaQueries($xmobile) {
            border: 0;
            width: 100%;
            margin-bottom: 4px;
            text-align: left;
        }
    }

    strong {
        font-weight: $bold;
        font-size: 1.8rem;
    }

    .icon-Reported,
    .icon-Assigned,
    .icon-NotReported {
        font-size: 1.5rem;

        &::before {
            font-size: 2.4rem;
            margin-right: 10px;
            cursor:auto;
        }
    }
}

.employee-attendance__display-msg {
    margin-top: 20px;
    font-size: 1.6rem;
    font-weight: $bold;
    display: block;
    padding: 20px;
    background-color: $base-white;
    border: 1px solid $base-orange;
}
