/*style for hiding kendo busy cursor starts*/
.k-loading-image {
    background-image: none !important;
}
/*style for hiding kendo busy cursor ends*/

.k-grid-header-wrap, .k-grid-footer-wrap,
div.k-grid-header, div.k-grid-footer,
.k-grid-pager{
    border: 0 none;
}
.k-grid-header .k-header, .k-grid-header{
    background: none #E0EAEE;
}

.graygrid .k-grid-header .k-header, .k-grid-header{
    background: none #EBEBEB !important;
}

.graygrid a{ color:#000 !important; text-decoration:none !important;}
.graygrid td{ vertical-align:top !important;}
.graygrid .k-autocomplete{ background:none !important; cursor:default !important; border-color:none !important; border:none !important;}
.graygrid .k-autocomplete input{border-radius: 0.3em 0.3em 0.3em 0.3em; border:solid 1px #ccc !important; box-shadow: 1px 1px 1px #DDDDDD inset !important; height:29px !important;}
.graygrid .k-state-focused, .graygrid .k-state-hover{ border:none !important; box-shadow:none !important;}

.ie7 .graygrid .k-autocomplete input{height:24px !important;}
.ie7 .graygrid .k-tooltip{ float:left; text-align:left;}


.k-grid table{
    border-collapse: collapse;
}
.k-grid-header th.k-header{
    font-weight:bold;
}
.grid tr.k-state-selected,
.k-state-active, .k-state-active:hover, .k-active-filter,
.grid tr.k-state-selected td{
    background: none #4A7DA2;
}
.k-pager-numbers .k-state-selected
{
    background: none #4A7DA2;
    border: 0 none;
}
.cssform .k-pager-numbers .k-state-selected
{
    background: none #868686;
    border: 0 none;
    color: #FFFFFF;
}
.k-popup .k-list .k-state-hover,
.k-popup .k-list .k-state-focused,
.k-popup .k-list .k-state-selected{
    background: none #4A7DA2;
    border: 0 none;
    margin-bottom:1px;
    
}
.k-textbox, .k-autocomplete, .k-dropdown-wrap, .k-picker-wrap, .k-numeric-wrap
{
   /* padding:0.1em;*/
}
.ie7 .k-textbox, .ie7 .k-autocomplete, .ie7 .k-dropdown-wrap, .ie7 .k-picker-wrap, .ie7 .k-numeric-wrap
{
   /* padding-top:0.1em;*/
}
.k-textbox > input, .k-autocomplete .k-input, .k-picker-wrap .k-input, .k-numeric-wrap .k-input, .k-dropdown-wrap .k-input, .k-selectbox .k-input
{
    height: auto;
}
span.k-numerictextbox
{
    padding:0;
    width: 100%;
}
input[type="text"].k-invalid, textarea.k-invalid
{
    border-color: Red !important;
}
.lhn-display .k-grid-content {
    height:400px;
}
@media only screen and (min-width : 1025px) {/* 1024/16 = 64 and 1200/16 = 75 */
    .lhn-display .k-grid-content {
        height:400px;
    }
}
/* targeting tablet portrait and landscape view */
@media only screen and (max-width : 64em) and (min-width : 48em) {/* 1024/16 = 64 and 768/16 = 48 */
       .lhn-display .k-grid-content {
        height:100px;
    } 
        
}



/* safari targeting tablet portrait and landscape view */
@media only screen and (min-width : 48em) and (-webkit-min-device-pixel-ratio:0) {/* 1024/16 = 64 and 768/16 = 48 */
                                                                                  
       .census .k-widget{ width:55px !important;}
       .census .tdhead{ width:22% !important;}
        
}







/* targeting tablet portrait view */
@media only screen 
and (max-width : 48em){
    .lhn-display .k-grid-content {
        display: none;
        height:auto;
    }
    
    .bedMapping .k-grid-header{
        display:block;
    }
    
    .k-grid-content
    {
        overflow:auto;
    }
    .lhn-display .k-grid-header{
        display:block;
    }
    
    
    
   
}



/* targeting mobile portrait and landscape view */
@media only screen and (max-width : 47.9em) {/* but650/16 = 40.625 */
                                             
.emptycolor .valid-radio-btn{padding:0 !important;}
.k-dropdown{ width:100% !important;}
.census .k-widget{margin-top: 0.4em;}
   
}





/* targeting mobile portrait view */
@media only screen and (max-width : 26em) 
{
    
    


}


.k-window-title {
    font-size: 1.4em;
    font-weight: bold;
    top: 0.2em;
    line-height:24px;
}



.oldie .k-filter-menu, .oldie .k-list-container{ font-size:1.3em !important;}
/* .ie7 .k-item{ font-size:0.8em !important;} */

.ie7 .k-filter-menu .k-widget{ clear:both !important;  display:block !important;}
.ie7 .k-filter-menu .k-button{ border:none !important; background:#ccc !important;}

.ie7 .k-filter-menu input[type="text"], .ie7 .k-filter-menu input[type="password"], .ie7 .k-filter-menu textarea {
	width:auto !important;
	padding: 0.3em 0;
}

.oldie .k-filter-menu .k-popup, .oldie .k-filter-menu .k-dropdown-wrap { font-size:1.1em !important;}


.imhelp .module{ margin:0.7em !important;}


.census .k-input{ height:1.7em !important;}
.ie8 .census .k-input, .ie9 .census .k-input{ /*padding-bottom:1.6em !important;*/ padding-top:0 !important;}
.ie7 .census .k-input{ padding-top:0 !important;}

/* Applying formating for validation mesages in table (Status edit)*/
.ie7 .grid .k-tooltip-validation
{margin-left:0.3em;}

.ie8 .grid .k-tooltip-validation
{margin-left:0.09em; display:table;}
/* Applying formating for validation mesages in table (Status edit)*/

.datainvalidcolor .k-dropdown-wrap, .datainvalidcolor .k-picker-wrap, .datainvalidcolor .k-numeric-wrap
{border-color: red !important;}

.datainvalidcolor select, .datainvalidcolor input
{border-color: red !important;}


.datainvalidcolor .valid-radio-btn
{border:solid 1px red !important; padding: 0.571429em 1.14286em;}

.emptycolor .valid-radio-btn{padding: 0.571429em 1.14286em;}


.census .k-widget{ width:60%; margin-bottom: 0.3em;}


.k-window-titlebar{ height:3em !important;}
.k-window-titlebar .k-window-actions{ padding:0.6em !important;}
.k-window-titlebar .k-window-action {
    display: inherit !important;
    height:auto !important;
    width:auto !important;
}


.ie7 .k-window-titlebar{height:2em !important;}

.kfilter1{ width:10em !important;}
.kfilter2{ width:20em !important;}

.k-filter-menu label{ margin-right:1em !important;}




/* New module layout kendo overrides */

.cssform .k-textbox, .cssform .k-autocomplete, .cssform .k-dropdown-wrap, .cssform .k-picker-wrap, .cssform .k-numeric-wrap, .cssform .k-datepicker
{
  /* padding:0px;
   width:16em;
   *width:16.1em;  
   height:2em;
   *height:2em;*/
   padding:0px;
}

/* new kendo fix 
.wrapper2 .k-textbox > input, .k-autocomplete .k-input, .k-picker-wrap .k-input, .k-numeric-wrap .k-input, .k-dropdown-wrap .k-input, .k-selectbox .k-input
{
    height:2em;
}
*/

.cssform .k-autocomplete, .cssform .k-combobox, .cssform .k-datepicker, .cssform .k-timepicker, .cssform .kdatetimepicker, .cssform .kcolorpicker, .cssform .k-numerictextbox, .cssform .k-dropdown, .cssform .k-selectbox, .cssform .k-textbox
{
  /* padding:0px;
   width:16em;
   /*width:16.1em;  */
  /* height:2em ;*/
   
}

.ie7 .cssfrom .k-dropdown
{
/* width:16.2em;  
   height:1.9em !important;*/
}

.cssform .k-picker-wrap
{
    width:16.1em !important;
   

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
   .cssform .k-picker-wrap{ height:2em;}
}

.cssform .k-input
{
    height:1.6em !important;
}
.ie7 .cssform .k-input
{
    height:1.4em !important;
}


.box-container-body  .k-textbox, .box-container-body .k-autocomplete, .box-container-body .k-numeric-wrap
{
   padding:0px;
   width:6.1em;
   *width:6em;  
   height:2em;
   
   (-bracket-:hack;
        height:1.9em;
    );
}

 .box-container-body .k-textbox > input, .box-container-body .k-numeric-wrap .k-input
 {
     height:1.6em;
     *height:auto;
 }


.ie7 .box-container-body .k-numeric-wrap, ie7 .box-container-body .k-autocomplete, .ie7 .box-container-body  .k-textbox
{
   height:1.7em;
}

 .k-list-container, .k-popup, .k-group, .k-reset
{
    /*position:relative;
    width:auto !important;*/
}



.cssform .k-grid-header-wrap, .cssform .k-grid-footer-wrap,
.cssform div.k-grid-header, .cssform div.k-grid-footer,
.cssform .k-grid-pager{
    border: 0 none;
}
.cssform .k-grid-header .k-header, .cssform .k-grid-header{
    background: none;
    border:1px solid #dedede;
	background-color:#ebebeb;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  .cssform .k-grid-header .k-header, .cssform .k-grid-header 
  {
      overflow:none;
  }
}
.cssform .k-grid table{
    border-collapse: collapse;
}
.cssform .k-grid-header th.k-header{
    font-weight:bold;
}
.cssform .grid tr.k-state-selected,
.cssform .k-state-active, .cssform .k-state-active:hover, .cssform .k-active-filter,
.cssform .grid tr.k-state-selected td{
    background: none #b1b1b1;
    color: #fff;
}

.bedMapping .k-alt, .bedMapping .k-separator
{
    background:none #FFFFFF;
}

.cssform .k-state-selected, .cssform .k-button:active
{
    background-image:none;
} 

.cssform .k-state-selected, .cssform .k-link.k-state-selected, .cssform .k-list > .k-state-focused, .cssform .k-list > .k-state-highlight, .cssform .k-button:active, .cssform .k-ghost-splitbar-vertical, .cssform .k-ghost-splitbar-horizontal, .cssform .k-draghandle.k-state-selected:hover
{
    background-color: #b1b1b1;
    border-color: #dddddd;
    color: #fff;
}
.cssform .k-grid-content
{
    overflow:auto !important;
}



.ie7 .k-window-content, .ie7 .k-content
{
    overflow:hidden;
}

.ie9 .fixedGrid .k-grid-content
{
    height:350px !important;
    
}


.bedTypeMapping .k-grid-content
{
    height:250px !important;
    overflow-y:auto;
    overflow-x:hidden !important;
        
}

.cssform .customscroll .k-grid-content
{
    overflow-y:scroll !important;
}


.k-grid-content
{
    height: auto !important;
}


.k-autocomplete{
    white-space: normal;
}

.cssform .k-block, .cssform .k-widget, .cssform .k-inline-block, .cssform .k-textbox > input, .cssform .k-input[type="text"], .cssform .k-input[type="number"], .cssform .k-textbox, .cssform .k-picker-wrap .k-input, .cssform .k-button, .cssform .k-draghandle
{
   /* background-color:#fff;
    margin:0px;*/
    
    
}

.cssform .k-state-active, .cssform .k-state-active:hover, .cssform .k-active-filter
{ 
    border-color: #ccc;
}

.tabContainer .k-tabstrip-items .k-item
{
    /*background:none;
    
    background-color:none;*/
    
 -webkit-box-shadow: 0 1px 0 #fff;
  /*box-shadow: 0 1px 0 #f2f2f2;*/
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), color-stop(0.5, #ffffff));
  background-image: -webkit-linear-gradient(#f3f3f3, #f8f8f8 50%);
  background-image: -moz-linear-gradient(#f3f3f3, #f8f8f8 50%);
  background-image: -o-linear-gradient(#f3f3f3, #f8f8f8 50%);
  background-image: linear-gradient(#f3f3f3, #f8f8f8 50%);
  background-clip: padding-box;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF3F3F3', endColorstr='#ffF3F3F3', GradientType=0);    
    
}

.tabContainer .k-state-active
{
    background-image:none !important;
    background-color:#fff;
}




.tabContainer .k-tabstrip .k-tabstrip-items
{
    padding:0px;
}

.tabContainer .k-tabstrip .k-content, .tabContainer .k-panelbar .k-tabstrip .k-content
{
 clear:both;
 margin:0; 
 
    
}

.tabContainer .k-header 
{
    background-image:none;
     background-color:#fff;
     border:0px;
}

.ie7 .cssform .k-dropdown-wrap
{
    padding:3px;
    padding-top:1px;
}

.ie7 .cssform .k-i-arrow-s
{
    background-position-y:-30px;
}


.ie7 .module-container .k-editor-button .k-tool-icon
{
    height: 12px !important;
}

.ie7 .k-i-arrow-e, .ie7 .k-i-seek-e, .ie7 .k-i-arrow-w, .ie7 .k-i-seek-w{margin-top:5px;}

.ie7 .pull-left .k-ie7 .k-picker-wrap .k-input{margin-bottom:0px;}

.ie7 .k-colorpalette .k-palette { width:auto !important;}

.k-list-container{overflow-x:hidden;}
.k-list li{word-break:break-all; word-wrap:break-word;} 


.non-selectable tr:nth-child(odd).k-state-selected td{background:#f5f5f5 !important; color:#000 !important; background-color:#f5f5f5 !important;}
.non-selectable tr:nth-child(even).k-state-selected td{background:#ffffff !important; color:#000 !important; background-color:#ffffff !important;}
.ie7 .non-selectable tr.k-state-selected td, .ie8 .non-selectable tr.k-state-selected td{background:#ffffff !important; color:#000 !important; background-color:#ffffff !important;}
.k-tabstrip-items .k-loading{border-top-width:0px;}

/*.k-datetimepicker .k-state-border-down{background:none !important; background-image:none !important;}
.k-icon .k-i-clock, k-i-clock { z-index:9999999999999999999999; display:block;}
.k-status-focused{background:none !important; background-image:none !important; display:none;}
.k-picker-wrap .k-select{z-index:99999999; background:#ffffff; display:block; color:#ffffff !important;}
.k-picker-wrap .k-i-close{display:none;}*/
