/* ==========================================================================
   Project Specific styles 
   ========================================================================== */
.wrapper2{
	font-size:1.3em;
	/*font:Tahoma, Arial, sans-serif;*/
	background-color:#ffffff;
}


/* ==========================================================================
   Conflict styles 
   ========================================================================== */
.ie7 input[type="text"], .ie7 input[type="password"], .ie7 textarea {
	width: inherit;
}
#bd2 {
	width: 100%;
	margin: 0 auto;
}
.ie7 #bd2{
	width: 99%;
	margin: 0 auto;
}
#bd2 .wrapper {
	position: relative;
}
.title-new {
	font-size: 1.5em;
	padding: 0 0 0.3em 0.4666666666666667em;
	margin: 0;
	/* text-transform: uppercase; */
	background: #5F8A9D;
	color: #fff;
}

/* ==========================================================================
   New styles 
   ========================================================================== */
.bold {
	font-weight: bold;
}

.title-span {
	display: block; 
	float: left; 
	text-align: right; 
	width: 7em; 
	padding-right: 0.5em;
}
.title2 {
	font-size: 1.2em;
	padding: 0.4em;
	margin: 0;
	/* text-transform: uppercase; */
	background: #5F8A9D;
	color: #fff;
	line-height:1em;
}
.title2 span {
	line-height:1em;
}
.width10 {
	width:5%;
}
.padd03em {
	padding-top:0.3em !important;
}
.padd15 {
	padding-left:3em !important;
}
.module-container .history-box .content{
	font-size: 0.85em;
}
.module-container p.red{
	padding: 0 0.4em 0 0;
	margin:0;
}
.status-select-container {
	padding: 0.7142857142857143em;
}
.btn.nomargin {
	margin-bottom: 0em;
}


.btn-container .btn {
	margin-bottom: 0.5em !important;
}
.padd-R-2em {
	padding-right:2em !important;
}
.no-padd {
	padding:0;
}
.bottom-brdr {
	border-bottom:1px solid #ccc;
}
.padd1em {
	/*padding:1em;*/
	padding:16px;
}
.padd05em {
	/*padding:0.6em;*/
	padding:10px;
}
.excel {
	background: url(../images/icon-excel.gif) no-repeat center left; 
	padding-left: 1.8em; 
	display: inline-block;
	height:20px;
	position:relative;
	top:-2px;
	*top:3px;
}
a.excel{
	color: #000000;
	font-size: 0.85em;
}
.right-fix {
	float: right !important;
}


.title-modified{
	font-size: 1.1em;
	padding: 0.2em ;
	padding-left:1em;
	margin: 0em;
	text-transform: uppercase;
	color: #000000;
	background:#ffffff;
	
}

.div-title {
	font-size: 1.5em;
	margin: 0;
	color: #000;
	/*padding: 10px 11px 10px 16px;*/
	padding-left:1em !important;
    border-bottom: 1px solid #D6D6D6;
    -webkit-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    background-color: #f3f3f3;
    /*height:2.6em;*/
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), color-stop(0.5, #ffffff));
    background-image: -webkit-linear-gradient(#f3f3f3, #f8f8f8 50%);
    background-image: -moz-linear-gradient(#f3f3f3, #f8f8f8 50%);
    background-image: -o-linear-gradient(#f3f3f3, #f8f8f8 50%);
    background-image: linear-gradient(#f3f3f3, #f8f8f8 50%);
    background-clip: padding-box;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF3F3F3', endColorstr='#ffF3F3F3', GradientType=0);
	/*color: #000000;
	background:#f2f2f2;
	border:1px solid #dadada;*/
}

.Reported {
    
    background: url("../images/images/Reported.png") no-repeat scroll 1% center transparent;
   padding-left:20px !important;   
}

.NotReported {
    background: url("../images/images/NotReported.png") no-repeat scroll 1% center transparent;
   
    padding-left: 20px !important;
}

.UnAssigned {
    background: url("../images/images/UnAssigned.png") no-repeat scroll 1% center transparent;
   
    padding-left: 20px !important;
}


.imp-message_red{
	background:#fdf1da;
	border-bottom:1px solid #bebebe;
	height:auto;
	padding:.3em;
}

.imp-message-icon_red {
    background: url("../images/imp-message-icon.jpg") no-repeat scroll 1% center transparent;
    display: inline-block;
    padding: 0;
}

.imp-message_green{
	background:#edf8e9;
	border-bottom:1px solid #bebebe;
	height:auto;
	padding:.3em;
}

.imp-message-icon_green {
    background: url("../images/imp-message-icon-green.gif") no-repeat scroll 1% center transparent;
    display: inline-block;
    padding: 0;
}

.imp-message_grey{
	background:#f7f7f7;
	border-bottom:1px solid #bebebe;
	height:auto;
	padding:.3em;
}

.imp-message-icon_grey {
    background: url("../images/imp-message-icon-grey.gif") no-repeat scroll 1% center transparent;
    display: inline-block;
    padding: 0;
}

.imp-heading {
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.4em 0 0.6em 3em;
}

.imp-content{
	padding:.2em;
	font-size:1.2em;
	
}

.bg-border{
	background:#f2f2f2;
	border-bottom:1px solid #bebebe;
	font-size:1.3em;
	margin:0em;
	
}

/* modify-NH-Census-final */

.update-details-spacing{
	margin-bottom: 1em;
}
.update-details-spacing i a{
	text-decoration: underline;
	font-style: normal;
	margin-right: 1em;
}
.middle-total-box{
	border: 1px solid #c2c2c2;
	background: #E0EAEE;
	padding: 1em;
	margin: 0 0 1em 0;
}
.middle-total-box span{
	display: inline-block;
}
 .middle-category-table{
 	margin: 1em 0;
 }
 .middle-category-table tbody td input{
	width: 100% !important;
}
 .middle-category-table tbody td input.width4em{
	width: 8em !important;
}
 .middle-category-table table{
 	border: 1px solid #c2c2c2;
 }
 .middle-category-table .grid th, .yellow-tbl .grid tbody tr td, .green-tbl .grid tbody tr td, .red-tbl .grid tbody tr td{
 	border: none;
 }
 .middle-category-table .grid thead tr{
 	border-bottom: 1px solid #c2c2c2;
 }
 .middle-category-table .grid tbody tr td{
 	padding: 0.6em 0.3em;
 }
.middle-category-table .grid tbody tr td:first-child{
 	text-align: right;
 	padding: 0.7em 0 0.4em 0.5em;
 }
 .middle-category-table .grid tbody tr td:last-child{
 	text-align: left;
 	padding: 0.7em 0.5em 0.4em 0;
 }
 .yellow-tbl .grid tbody tr td{
 	background: #FFFCDB;
 }
 .red-tbl .grid tbody tr td{
 	background: #FEEDEB;
 }
 .green-tbl .grid tbody tr td{
 	background: #E6FFE7;
 }
 .history-box .status a{
 	text-decoration: underline;
 }
.content p.red{
	padding: 0 0.4em 0 0;
	margin:0;
}
.paddBottom {
	padding-bottom: 1em;	
}
.radioWidth {
	width:auto !important;
	margin-right: 0.3em !important;
}
.padd06em {
	padding-top:0.3em !important;
}
html>body .padd06em {
	*padding-top:0.6em !important;
}
.marginLeft3em {
	margin-left: 3em;
}
.width70per {
	width:70% !important;
}
.ie7 .width70per {
	width:50% !important;
}
.module-container .widget .content{
	font-size: 0.85em;
}
.ie7 .iconMargin {
	margin-top:-1em;
	color:#FFF;
}
.iconMargin :link, .iconMargin :visited  {
	color:#FFF;
}
.iconMargin {
    color: #FFFFFF;
    float: right;
    margin-top: -1.3em;
}
.div-title h5 {
	width:68%;
}

.generator-icon
{
    padding:0px; border:0px solid #ccc; font-weight:bold; font-size:1.3em;
    margin-right: 0em;
	text-align: center;
	line-height: .5em;
	margin-left: 0em;
}

.custom_searchbox {
width: 16em !important;
background: url(../images/input-search-icon.gif) right no-repeat;
padding-right: 30px !important;
padding-left: 3px;
}


/*
Satrt of manage generator and fuel tanks list styles
*/


	.navigation ul {
	    margin: 0px;
	    padding: 0px;
	}
	ul.top-level { background: #E9EBEA; *margin-top:-17px; }
			
		.navigation li { list-style: none; }
        ul.top-level li {
            border-top: #fff solid;
            border-width: 1px;
			padding: 0.3em;
        }
			.navigation li a {
				color:#000;
				cursor: pointer;
				display:block;
				height:27px;
				line-height: 27px;
				text-indent: 10px;					
				text-decoration:none;
				width:100%;
			}
			.navigation li.active{ 
			    
			    padding: 7px;
                     
                      color:#fff;
                      background-color: #b1b1b1;
                      font-weight:bold;
                      text-align:left;
			    
			    }
			.navigation li a:hover{ background:#dadada ; }
			.navigation li a.active
			{
			        
                     padding: 7px;
                     
                      color:#fff;
                      background-color: #b1b1b1;
                      font-weight:bold;
                      text-align:left;
			    
			     }
	        .navigation li:hover {
			/* padding: 0.3em; */
			cursor: pointer;
			background: #dadada;
			color: #000;

	        }
						
	/*IE RESET HELPER*/
	li:hover .sub-level .sub-level { display:none; }
	.sub-level li:hover .sub-level { display:block; }	

/*
End of manage generator and fuel tanks list styles
*/
