/* ==========================================================================
    Fixes layout of page. ex: header, footer and content area.
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */
::-webkit-input-placeholder {
color:#ccc;
}
::-moz-placeholder {
color:#ccc;
} /* firefox 19+ */
input:-moz-placeholder {
color:#ccc;
}
.img-rounded {
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
}
.img-polaroid {
	padding: 0.4em;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.1);
	box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.1);
}
.img-circle {
	-webkit-border-radius: 32em;
	-moz-border-radius: 32em;
	border-radius: 32em;
}
.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
 *text-indent: -9999px;
}
.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
}
.hidden {
	display: none !important;
	visibility: hidden;
}
.vlyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.vlyhidden.focusable:active, .vlyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
.invisible {
	visibility: hidden;
}
.cfx:before, .cfx:after, .row:before, .row:after {
	content: " ";
	display: table;
}
.cfx:after, .row:after {
	clear: both;
}
.ie7 .cfx, .ie7 .row {
	zoom: 1;
}
.muted {
	color: #999999;
}
a.muted:hover {
	color: #808080;
}
.text-warning {
	color: #c09853;
}
a.text-warning:hover {
	color: #a47e3c;
}
.text-error {
	color: #b94a48;
}
a.text-error:hover {
	color: #953b39;
}
.text-info {
	color: #3a87ad;
}
a.text-info:hover {
	color: #2d6987;
}
.text-success {
	color: #468847;
}
a.text-success:hover {
	color: #356635;
}
.green {
	color: #92d400;
}
.red {
	color: #f00
}
.yellow {
	color: #f0d700
}

.no-margin-top, .row.no-margin-top [class*="-col"] {
	margin-top: 0 !important;
}
.no-margin, .row.no-margin [class*="-col"] {
	margin: 0 !important;
}
.no-margin-bot, .row.no-margin-bot [class*="-col"] {
	margin-bottom: 0 !important;
}

.no-width {
	width: auto !important;
}
.txt-left {
	text-align: left !important;
}
* {
	outline-color: transparent; /* to hide input boxes focus in chrome */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



input[type="text"], input[type="password"], textarea, select {
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	border-radius: 0.3em;
	border: 1px solid #ccc;
	-moz-box-shadow: inset 1px 1px 1px #ddd;
	-webkit-box-shadow: inset 1px 1px 1px #ddd;
	box-shadow: inset 1px 1px 1px #ddd;
	width: 100%;
	padding: 0.3em;
}

.ie7 input[type="text"], .ie7 input[type="password"], .ie7 textarea {
	width: 100%;
	padding: 0.3em 0;
}
/* ==========================================================================
   Project Specific styles 
   ========================================================================== */
@font-face {
	font-family: 'droidsans';
	src: url('../font/droidsans-webfont.eot');
	src: url('../font/droidsans-webfont.eot?#iefix') format('embedded-opentype'), url('../font/droidsans-webfont.woff') format('woff'), url('../font/droidsans-webfont.ttf') format('truetype'), url('../font/droidsans-webfont.svg#droidsans') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	font:normal 0.625em/1.4 Arial, Helvetica, sans-serif;
	background: url(../images/bg.gif) repeat top left;
}
a {
	text-decoration: none;
}
/* --------------------------------------
	page header specific styles 
   -------------------------------------- */
.wrapper, .logo-mainnav {
	max-width: 1200px;
	margin: 0 auto;
}

.logo{ cursor:pointer;}
.topbar {
	margin: 0 auto 1em;
	text-align: center;
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
	font-size: 1.2em;
	padding: 0.5em 2% 0;
}
.topbar [class^="icon-"] {
	font-size: 1.2em;
}
.topbar .welcome {
	text-align: left;
}
.complain-msg {
	background: #fff url(../images/messagearrow.png) right top no-repeat;
	text-align: left;
	padding: 0 0.8em;
	vertical-align: top;
	height: 1.666666666666667em;
}
.topNav li {
	list-style: none;
	display: inline;
	float: left;
}
.topNav li {
	margin-left: 1em;
}
.topNav li:first-child {
	margin-left: 0;
}
/* navigation section */
.logo-mainnav .main-nav .nav {
	margin-top: 1em;
}
.logo-mainnav {
	margin: 0 auto;
	width: 96%;
}
.nav > li {
	display: inline;
	float: left;
	margin-left: 2.5em;
	font-size: 1.4em;
	cursor: pointer;
}
.nav > li:first-child {
	margin-left: 0;
}
.nav > li > span {
	cursor: pointer;
}
.nav > li > span .icon-sort-down {
	position: relative;
	top: -0.2em;
}
/* sub menu selectors */
.sub-nav {
	display: none;
}
.nav li ul {
	position: absolute;
	z-index: 100000;
}
.admin ul li:first-child {
	margin-top: 0.5em;
}
.admin li {
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
	display: block;
	font-size: 0.9em;
	padding: 0.6666666666666667em;
	z-index: 100;
	cursor: pointer;
}
.nav li li:hover {
	background: none repeat scroll 0% 0% #333333;
}
.ie7 .nav li.admin {
	z-index: 9999;
	position: relative;
}
.ie7 .nav li ul {
	top: 0;
	width: 18em;
	left: 0;
	padding-top: 2em;
}
.ie7 .search-label input {
	width: 80%;
}
.m-menu .menu {
	background: transparent;
	border: 0 none;
	display: block;
	text-indent: -9999px;
	padding: 0;
}
.m-menu .menu .icon-menu {
	text-indent: 0;
	display: block;
	font-size: 3em;
	background: #ccc;
	border: 0.07em solid #111;
	-moz-border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	border-radius: 0.2em;
}
.m-menu .menu .icon-menu:hover, .m-menu .menu .icon-menu:active {
	background-color: #333;
	color: #fff;
	border-color: #ccc;
}
/* Bread crumb sectoin */
.bcrumb {
	margin: 0.5% auto 0;
	color: #fff;
}
.bcrumb .wrapper {
	background: #fff;
	border-bottom: solid 0.1em #ccc;
	padding: 1em 0 1em 0;
	position: relative;
	width: 96%;
}
.bcrumb li {
	margin: 0;
	display: inline;
	font-size: 1.2em;
	color: #D4D4D4;
	float: left;
}
.bcrumb li a {
	text-decoration: none;
	color: #999;
}
.icon-home {

	cursor: pointer;
}

.topNav li {
	cursor: pointer;
}
.bcrumb .current {
	color: #000;
}
.ie7 .bcrumb .icon-right-open-big {
	margin: 0 0.5em;
}
.refresh {
	position: absolute;
	right: 0.8em;
	top: 0.4em;
	color: #000;
	font-size: 1.3em;
	color: #2BC1E6;
	cursor: pointer;
}
.refresh .icon-arrows-cw {
	font-size: 1.2em;
}
/* --------------------------------------
	page body section specific styles 
   -------------------------------------- */
#bd {
	width: 100%;
	margin: 0 auto;
}
.module {
	margin: 2.5em;
	background: #fff;
	border:1px solid #ccc;
}
.title {
	font-size: 1.5em;
	padding:0.2em 0 0.5em 0.4666666666666667em;
	margin: 0;
	text-transform: uppercase;
	background: #5F8A9D;
	color: #fff;
}
.title-grey {
    background-clip: padding-box;
    background-color: #F3F3F3;
    background-image: linear-gradient(#F3F3F3, #F8F8F8 50%);
    border-bottom: 1px solid #D6D6D6;
    box-shadow: 0 1px 0 #FFFFFF;
    color: #000000;
	padding:0.2em 0 0.5em 0.4666666666666667em;
	margin: 0;
    font-size: 1.5em;
}
.title-grey i{color: #000000 !important;
}
.module h2 a {
	color: #fff;
}
.module-container {
	font-size: 1.4em;
}
.module-container p {
	padding: 1em;
	margin: 0;
}
.grid-select-container {
	padding: 0.7142857142857143em;
}
.btn-container {
	/*text-align: right;*/
}
.btn-container .btn {
	margin-left: 0.5em;
	margin-bottom: 1em;
}
.btn-container .btn:first-child {
	margin-left: 0;
}
.search-label {
	margin-left: 1em;
}
.search-label fieldset {
	display: inline-block;
	width: 80%;
	vertical-align: middle;
}
.ie7 .search-label fieldset input {
	height: 1.3em;
}
.oldie fieldset input[disabled] {
	border: 1px solid #ccc !important;
	background: #EBEBE4;
}

.oldie .k-widget.k-tooltip{
    display:inline;
}


.btnmaintop {
	text-align: right;
	margin: 1em 1.7em 1em 0;
	font-size: 1.4em;
}
.btnmainbot {
	text-align: right;
	margin: -0.8em 1.7em 1em 0;
	font-size: 1.4em;
}
.btnmaintop .btn, .btnmainbot .btn {
	margin-left: 0.5em;
}
/* --------------------------------------
	page footer specific styles 
   -------------------------------------- */
#ft {
	width: 96%;
	margin: 1em auto 0;
	color: #999;
	font-size: 1.1em;
	text-align: left;
	text-transform: uppercase;
}
#ft ul {
	text-align: right;
}
#ft li {
	display: inline;
	list-style: none;
	color: #999;
}
#ft li a {
	color: #999;
	padding: 0 1em;
}
.oldie .wrap {
	min-width: 100em; /* min width is fixed to 1000px modified anil apr6*/
	overflow: hidden;
}

/*
Busy cursor start
*/
#bd .wrapper {
	position: relative;
}
.overlay {
	position: fixed;
	/*
	background: #fff url(../images/loader.svg) no-repeat center center;
	*/
	background: #fff url(../images/preload.gif) no-repeat center center;
	opacity: 0.6;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: none;
}
.oldie .overlay, .ie9 .overlay {
	background-image: url(../images/preload.gif);
	filter: alpha(opacity=60);
}
#bd .wrapper .overlay {
	position: absolute;
	max-width: 1200px;
	margin: 0 auto;
	left: 0;
}
/*
Busy cursor end
*/


/*
Validation messages start
*/


.msg-container {
	position: fixed;
	bottom: -50px;
	left: 10%;
	width: 80%;
	background: #fff;
	font-size: 1.4em;
	border:none;
	border-bottom: 0 none;
}

.msg-container .msg-block {
	border: 0.1em solid #000;
}

.ie7 .msg-container {border: 0.1em solid #000 !important;}
.ie7 .msg-container .msg-block {border:none !important;}


.msg-container hr {
	height: 0.5em;
	border: 0 none;
	margin: 0.2em;
}

.container {
	padding:0.5em 0.2em 1em;
	position: relative;
}


.ie7 .msg-container hr 
{
    width:99.5%;
	position:absolute;
}

.ie7 .container {
	padding:1em;
	position: relative;
}

.ie7 .msg-container .close-btn
{
    top:1em;
    right: 1.5em;
    
    }

.close-btn {
	position: absolute;
	right: 0.5em;
	font-size: 1.5em;
	cursor: pointer;
	top: 0.2em;
	color: #999;
}
.close-btn:hover {
	color: #C00;
}
.pagemessage hr {
	background: #ffcc00;
}
.pagesuccess hr {
	background: #66cc00;
}

.pageerror hr {
	background-color: #FF0000;
}


.pagevalidation hr {
	background: orange;
}
.relative{ position:relative;}

.census{ padding:1.5em;}

.census [class*="-col"] {
    border: 1px solid #CCCCCC;
    margin-bottom: 25px;
    padding-bottom: 15px;
	padding:1.5em;
	margin-bottom:2em !important;
}
.census .sTitle {
    background: none repeat scroll 0 0 #FFFFFF;
    color:#000;
    font-weight: bold;
    left: 2em;
    padding:0.5em;
    position: absolute;
    top:-1.2em;
    width: auto;
}
.census input{
	width:70%;
	margin-bottom:0.4em;
}

.census .prvval{
	color:red;
}
.census .errmsg{
	color:red;
	font-size:1.2em;

}
.census:first-child [class*="-col"] {
    margin-right:1em !important;
}
.census .one-col {
    width: 48.3% !important;
}
.census .tdhead{
	width:40%;
	text-wrap:none;
	padding-right:0.5em;
	padding-top:0.5em;
	font-size:0.9em;
}
.census th{
	padding:0;
	text-align:left;
	font-weight:normal;
}
.bedtypemap{ padding:1.5em;}
.bedtypemap h3{ padding:0 0 0.5em 0; margin:0; font-size:1em;}
.bedtypemap .w35{ float:left; width:41%;}
.bedtypemap .w35 select{ height:200px;}
.bedtypemap .arrowbtns{ float:left; padding:7em 1em;}
.bedtypemap .arrowbtns button{ margin:0 0.5em;}


.chkradioboxlist{padding-top: 0.2em;}
.chkradioboxlist input{ float:left;}
.chkradioboxlist span{ float:left; margin-left:1.5em; margin-top:-1.2em; clear:both;}
.ie7 .chkradioboxlist span{ margin-top:-1.6em; clear:both;}


.updateddate{ float:left; font-size: 0.9em;
    padding-left: 1em;
    padding-top: 0.3em;}

.module1
{ margin-right:2.5em !important;
  margin-bottom:2.5em !important;
  margin-left:2.5em !important;
  background:#fff !important;
  border: 1px solid #CCCCCC !important;}
  
  .notable{ padding:1em !important;}







/*
scrab
*/


.quickStatsDtable td, tr {
    border-bottom:none !mportant;
    border-left:none !mportant;
    padding:none !mportant;
}
.dataTable td, tr {
    border: none !mportant;
    padding: none !mportant;
}

.censusblock{ display:table !important;}



/*help file styles*/

.imcommonhelp{ font-size:1.4em; line-height:23px;}
.imcommonhelp p{ padding:0 0.8em 0.8em 0.8em; margin:0;}
.imcommonhelp ul{ padding:0.5em; margin:0 0 0 3em;}
.imcommonhelp li{ padding:0 0 1em 0; margin:0;}


