/* ==========================================================================
Commonly used elements used across the website ex: buttons, controls and table.
   ========================================================================== */

@charset "utf-8";
/* reusable elements */
.btn {
	display: inline-block;
	padding: 0.4em 1.2em;
	margin-bottom: 0;
	font-weight: bold;
	font-size: 0.9em;
	color: #333333;
	text-align: center;
	text-shadow: 0 0.1em 0.1em rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #F4F5F5;
	background-image: -moz-linear-gradient(top, #F4F5F5, #DFDDDD);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F4F5F5), to(#DFDDDD));
	background-image: -webkit-linear-gradient(top, #F4F5F5, #DFDDDD);
	background-image: -o-linear-gradient(top, #F4F5F5, #DFDDDD);
	background-image: linear-gradient(to bottom, #F4F5F5, #DFDDDD);
	background-repeat: repeat-x;
	border: 0.1em solid #D6D6D6;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	border-radius: 0.4em;
	-webkit-box-shadow: inset 0 0.1em 0 rgba(255, 255, 255, 0.2), 0 0.1em 0.2em rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 0.1em 0 rgba(255, 255, 255, 0.2), 0 0.1em 0.2em rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 0.1em 0 rgba(255, 255, 255, 0.2), 0 0.1em 0.2em rgba(0, 0, 0, 0.05);
}
.ie7 .btn, .ie7 button.btn {
	zoom: 1;
	border: 0;
	background-color: #ccc;
	margin-left: 0.5em;
	padding: 0.2em 1.2em;
}
.ie7 .export-excel {
	padding-top: 0.3em;
	padding-bottom: 0.5em;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
	color: #333333;
	background: none #e6e6e6;
 *background-color: #d9d9d9;
}
.btn:active, .btn.active {
	background-color: #cccccc \9;
}
.ie7 .btn:first-child {
	margin-left: 0;
}
.btn:hover, .btn:focus {
	color: #333333;
	text-decoration: none;
	background-position: 0 -1.5em;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}
.btn:focus {
	outline: thin dotted #333;
	outline: 0.5em auto -webkit-focus-ring-color;
	outline-offset: -0.2em;
}
.btn.active, .btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 0.2em 0.4em rgba(0, 0, 0, 0.15), 0 0.1em 0.2em rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 0.2em 0.4em rgba(0, 0, 0, 0.15), 0 0.1em 0.2em rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 0.2em 0.4em rgba(0, 0, 0, 0.15), 0 0.1em 0.2em rgba(0, 0, 0, 0.05);
}
.btn.disabled, .btn[disabled] {
	cursor: default;
	background-image: none;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-small {
	padding: 0.2em 1em;
	font-size: 1.2em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
}
.btn-small [class^="icon-"], .btn-small [class*=" icon-"] {
	margin-top: 0;
}
.btn-mini [class^="icon-"], .btn-mini [class*=" icon-"] {
	margin-top: -0.1em;
}
.btn-mini {
	padding: 0 0.6em;
	font-size: 1.05em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
}
/* grid layout styles */
.grid {
	color: #000;
	width: 100%;
}
.grid th {
	background: #E0EAEE;
	font-weight: bold;
	text-align: left;
}
.grid td, .grid th {
	border: 0.1em solid #C2C2C2;
	padding: 0.5714285714285714em 1.142857142857143em;
	vertical-align: top;
}
.grid table td {
	padding: 0;
	border: 0 none;
}
.grid button {
	margin: 0 0.5em 0.5em 0;
}

.gridnocolor{}
.gridnocolor td, .gridnocolor th, .gridnocolor table{ background:#fff !important; border:none !important;}


/*
IE7 input and text area width fix
*/
.oldie table.two-col-grid tr th {
	width: 20%;
	text-align: right;
}
.oldie table.two-col-grid tr td {
	width: 80%;
	text-align: left;
}
fieldset {
	border: 0 none;
	padding: 0;
}
/*
IE7 input and text area width fix
*/


/*.oldie .grid td{
	padding:0.5714285714285714em 1%;
}*/

/* responsive table filamentgroup*/
.enh-table {
	position: relative;
	margin: 2em 0 0;
}
.enh-table .table-menu-wrapper {
	position: absolute;
	top: -2.5em;
	right: 1em;
}
.enh-table .table-menu-btn {
	text-decoration: none;
	color: #333;
	background: #eee;
	padding: .2em .8em 0.2em 0.6em;
	border: 1px solid #ccc;
}
.enh-table .table-menu-btn:before {
	margin-right: 0.5em;
	color: #666;
}
.enh-table .table-menu {
	position: absolute;
	right: 0;
	left: auto;
	background-color: #fff;
	padding: 1em;
	font-size: 0.9em;
	border: 1px solid #ccc;
	width: 8em;
}
.enh-table .table-menu li {
	list-style: none;
	margin-top: 0.5em;
}
.enh-table .table-menu li:first-child {
	margin-top: 0;
}
.enh-table .table-menu-hidden {
	left: -999em;
	right: auto;
}
.enh-table .enhanced th, .enh-table .enhanced td {
	display: none;
}
.oldie .enhanced th.essential, .oldie .enhanced td.essential {
	display: inline;
}
.enhanced th.essential, .enhanced td.essential {
	display: table-cell;
}

.textboxlist span {
	padding: 0.2em 0.8em 0.5em 0;
	float: left
}
.textboxlist input {
	float: left
}
.optionslist ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.optionslist li {
	padding-bottom: 0.8em;
}

.optionslisth ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.optionslisth li {
	padding-right: 0.8em;
	padding-bottom:0.5em;
	display:inline;
	line-height:22px;
	float:left;
}

.optionslisth li div{
	display:block; float:left; margin-right:0.8em;
}



.maintitle{ padding:0 0 0 1em; margin:0; font-size:1.1em; color:#000;}
.maintitle a{color:#000;}

.width40 {
	width: 40%;
}
.width30 {
	width: 30%;
}

.optionslist li{
    word-break:break-all !important; word-wrap:break-word !important; display:block;
}

/*@media screen and (min-width: 800px) {
   .oldie .enhanced th, 
   .oldie .enhanced td {
      display: inline;
   }
   .enhanced th, 
   .enhanced td {
      display: table-cell;
   }
}*/

