/* ==========================================================================
This controls responsive views.
========================================================================== */

@-ms-viewport {
 width: device-width;
}
object, embed, video {
	max-width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border: 0;
}
.ie img {
	width: auto;
	-ms-interpolation-mode: bicubic;
}
/* ==========================================================================
   Responsive Helper classes
   ========================================================================== */
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.hide {
	display: none;
}
.show {
	display: block;
}
.affix {
	position: fixed;
}
.v-mob {
	display: none !important;
}
.v-tab {
	display: none !important;
}
.h-desk {
	display: none !important;
}
.v-desk {
	display: inherit !important;
}
/* fluid grid */
.row [class*="-col"] {
	display: block;
	width: 100%;
	min-height: 2em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin-left: 2%;
}
.row:first-child [class*="-col"] {
	margin: 0;
}
[class*="-col"].hide, .row [class*="-col"].hide {
	display: none;
}
[class*="-col"].pull-right, .row [class*="-col"].pull-right {
	float: right;
}
.row [class*="-col"]:first-child {
	margin-left: 0;
}
.row .one-col {
	width: 32%;
}

.row .two-col {
	width: 49%;
}
.row .two-of-three-col {
	width: 66%;
}


.row .full-col {
	width: 100%;
	margin-left: 0;
}
.row [class*="-col"] {
	margin-top: 2em;
}
.row:first-child [class*="-col"] {
	margin-top: 0;
}


/* top bar selectors */
.topbar.row [class*="-col"] {
	margin-top: 0;
	margin-left: 0;
}
.topbar.row .one-col {
	width: 30%;
}
.topbar.row .two-col {
	width: 40%;
}
.grid-select-container label, .grid-select-container .label {
	display: inline-block;
}
/* added by anil */
.searchfacility input, .searchfacility select {
	width: 50%;
	margin-bottom: 1em;
}

.searchfacility .k-dropdown{
	width: 60%;
}
.ie7 .searchfacility input, .ie7 .searchfacility select {
	width: auto;
	margin-bottom: 0;
}
.ie7 .searchfacility label {
	margin-bottom: 1em;
}
.editsearchfacility input, .editsearchfacility select {
	width: 70%;
	margin-bottom: 1em;
}
.statustypes input, .statustypes select {
	width: 70%;
}
.gridsearch input, .gridsearch select {
	width: 80%;
}
.containersearch {
	padding: 2.5em;
}
.containersearch input, .containersearch select {
	width: 60%;
}
.containersearch label {
	font-size: 1.4em;
	width: 30%;
	display: inline-block;
}
.statustypes label, .gridsearch label, .searchfacility label {
	width: 45%;
	display: inline-block;
}

.searchfacility .label {
	min-width: 35%;
	display: inline-block;
}
.editsearchfacility .label {
	display: inline-block;
}
/* added by anil */
.textboxes-list-container {
	padding: 0;
}
.textboxes-list-container label {
	width: 33%;
}
.textboxes-list-container input, .textboxes-list-container select {
	width: 35%;
}
/* IE 7 & 8 validation messages positions & formating when present in grid */
.oldie .status-edit-fac-maping td+td+td {
	width: 10%;
}
.oldie .status-edit-fac-maping td, .oldie .status-edit-fac-maping td+td, .oldie .status-edit-fac-maping td+td+td+td {
	width: 30%;
}
/* generators list */
.generatorslist {
	color: #fff;
}
.generatorslist h3 {
	background: #5F8A9D;
	padding: 0.45em 0 0.45em 1em;
	margin: 0;
	cursor: pointer;
}
.generatorslist ul {
	background: #000;
	padding: 0;
	margin: 0;
	list-style: none;
	border: solid 1px #5F8A9D;
	height:300px;
	overflow-y: auto;
}
.generatorslist li {
	border-bottom: solid 1px #5F8A9D;
	padding: 0.75em 0 0.75em 1.5em;
	font-weight: normal;
	background: #E9EBEA;
	cursor: pointer;
	color: #333;
}
.generatorslist li:hover {
	background: #fff;
	color: #333;
}
.bbt a {
	color: #000;
}
.manage-fuel-tanks {
	margin: 1.5em;
}
.manage-fuel-tanks .two-of-three-col {
	float: right;
}
.manage-fuel-tanks th {
	text-align: right;
}
.manage-fuel-tanks .selectfueltank h3 {
	padding: 0 0 0.5em 0;
	margin: 0 0 1em 0;
	color: #1f6280;
	border-bottom:dashed 1px #333;
}
.date {
	font-size: 0.8em;
	color: #333;
	font-weight: normal;
}
.manage-fuel-tanks input, .manage-fuel-tanks textarea, .manage-fuel-tanks select {
	width: auto;
}

.modulelinks{ font-size:0.9em; margin-right:0.7em;}
.modulelinks a{ color:#000;}


.selectfueltank th{
	
}

.selectfueltank li{
	min-width:50%;
}


.manage-fuel-tanks .selectfueltank .olddata {
	color:#333;
}
.manage-fuel-tanks .width40{ width:40%;}
.manage-fuel-tanks .width30{ width:22%;}

.tdtitle{ font-weight:bold; text-align:right; width:20% !important; background:#E0EAEE;}


.emptyscrmsgs{font-size: 2em;   height: 450px;  padding: 2em;  text-align: center; color:Red;}
.oldie .emptyscrmsgs{height: 350px !important;}

.census .avlbeds span {
    float: left;
    padding-top: 0.2em;}


.census-popup-window .avlbeds span{ float:left; padding-top:0 !important;}
.census-popup-window .module{ margin:0 !important; border:none !important;}
.census-popup-window .row{ padding:0.7em !important;}
.census-popup-window .census .one-col { width: 47.5% !important;}      
.census-popup-window .census th{padding: 0.2em;}
.census-popup-window .census td{padding: 0.4em;}

/*********** Pop Window Fixes ***********/
.oldie .census-popup-window{ width:78em !important;}
.oldie .utility-popup-window{ width:30em !important;}
.ie7 .census .one-col { width: 44.7% !important;}


.k-window-content .census .cen-value{float:left;}

.popupwindow{ min-width:300px; max-width:800px !important;}
.census-popup-window{width:800px !important;}
.ie8 .census-popup-window .one-col{
	width: 48.1% !important;
}
.ie7 .census-popup-window .one-col{
	width: 42.9% !important;
}
.oldie .popupwindow h1{ width:500px;}

/*********** 1024 IE Desktop Fixes ***********/
.oldie .module .row .two-of-three-col {
	width: 62%;/* modified anil apr6 */
}
.oldie .module .search-label {
	width: 51%;/* added by anil apr6*/
}
.oldie .module .row .one-col {
	width: 38%;/* modified anil apr6 */
}
.oldie .module .gridsearch input{
	width: 80%;/* added by anil apr6*/
}


/***************************** Media Queries *****************************/
/* targeting desktop view */
@media only screen and (min-width : 1024px) {/* 1024/16 = 64 and 1200/16 = 75 */
/***************************** RWD table *****************************/
.bulkupdate-comment {
    width:30em !important;
}
.shiftdate-valid{
    position:relative !important;
    top: 25px;
    right: 212px;
}
.oldie .enhanced th.optional, .oldie .enhanced td.optional {
	display: inline;
}
.enhanced th.optional, .enhanced td.optional {
	display: table-cell;
}

.census-popup-window{ width:78em !important;}
.utility-popup-window{ width:30em !important;}

/*********** 1024 Desktop Fixes ***********/
.module .row .two-of-three-col {
	width: 62%;/* modified anil apr6 */
}
.module .search-label {
	width: 51%;/* added by anil apr6*/
}
.module .row .one-col {
	width: 38%;/* modified anil apr6 */
}
.module .gridsearch input{
	width: 80%;/* added by anil apr6*/
}


}
/* targeting tablet portrait view and above */
@media only screen and (min-width:48em) {
.two-col-grid tr th:first-child {
	width: 25%;
	text-align: right;
}
.status-edit-fac-maping td+td+td {
	width: 10%;
}
/*.status-edit-fac-maping td+td+td+td{
		width:5%;
		text-align:center;
	}*/
.status-edit-fac-maping td, .status-edit-fac-maping td+td, .status-edit-fac-maping td+td+td+td {
	width: 30%;
}
.search-label fieldset {
	display: inline-block;
	width: 80%;
	vertical-align: middle;
}
.census [class*="-col"] {
	margin-right:1em;
	 
}

}

/* targeting tablet portrait and landscape view */
@media only screen and (max-width : 62em) and (min-width : 48em) {/* 1024/16 = 64 and 768/16 = 48 */
    .shiftdate-valid{
    position:relative !important;
    top: 25px;
    right: 280px;
}                                                              
.grid-select-container.row .two-of-three-col {
	float: none;
	clear: both;
	width: 100%;
}
.grid-select-container .btn-container.pull-right {
	clear: both;
	/*float: none;*/
	margin: 0.5em 0;
	text-align: left;
	/*width: 100%;*/
}
.table-menu label {
	padding: 0.2em 0;
	display: inline-block;
}
.enh-table .table-menu li {
	margin-top: 1em;
}
.containersearch label {
	width: 30%;
}
.containersearch input, .containersearch select {
	width: 50%;
}
.manage-fuel-tanks .selectfueltank .olddata {
	clear: both;
	display: table;
}
.manage-fuel-tanks .width40, .manage-fuel-tanks .width30 {
	width: 100% !important;
}
.manage-fuel-tanks input, .manage-fuel-tanks select {
	margin-bottom: 0.3em;
}
.manage-fuel-tanks .date {
	clear: both;
	display: table;
}
.selectfueltank li{
	min-width:80%;
}
.census [class*="-col"] {
	width:47.8% !important;
	margin-right:1em !important;
	 
}

.census .tdhead{ width:25%;}

.bedtypemap .w35{ width:40%;}
.bedtypemap .arrowbtns{ float:left; text-align:center; padding:7em 0;}


.popupwindow{ min-width:300px !important; max-width:600px !important;}
.census-popup-window{ width:590px !important;}
.modulelinks{ clear:both; margin:0 0 0 1.4em !important; float:left !important;}

}





/* targeting mobile portrait and landscape view */
@media only screen and (max-width : 47.9em) {/* but650/16 = 40.625 */
    .shiftdate-valid {
        position: relative !important;
        top: 25px;
        right: 527px;
    }
.v-mob {
	display: block !important;
}
.v-desk {
	display: none !important;
}
.expand {
	display: block !important;
}
#hd {
	margin-bottom: 0.5em;
}
.row [class*="-col"], .topbar.row [class*="-col"] {
	width: 100%;
	margin: 0;
	float: none;
}
[class*="-col"].pull-right, .row [class*="-col"].pull-right, .pull-right {
	float: none;
}

.btn-container .pull-right {
	float: right;
}
.module {
	margin: 1em;
}
.logo-mainnav {
	position: relative;
}
.logo-mainnav .m-menu {
	position: absolute;
	right: 2%;
	top: -1.8em;
}
.row [class*="-col"].btn-container {
	text-align: left;
}
.grid-select-container [class*="-col"] label {
	margin: 0 0 1em;
	display: block;
}
.grid-select-container .label {
	min-width: 23%;
}
.grid-select-container label {
	width: auto;
}
.grid-select-container [class*="-col"] input, .grid-select-container [class*="-col"] select {
	width: 70%;
	margin-bottom: 0;
}
/* navigatonal elements */
.logo-mainnav {
	width: 100%;
	padding: 0;
}
.row.logo-mainnav .logo {
	width: 96%;
	margin: 0 auto;
}
.nav li {
	display: block;
	float: none;
	margin-left: 0;
	border-bottom: 0.1em solid #333;
	padding: 0.6666666666666667em;
	z-index: 100;
	background: #000;
	cursor: pointer;
}
.nav li .sub-nav {
	position: relative;
	width: auto;
}
.nav li .sub-nav li:first-child {
	margin-top: 0;
}
.nav li .sub-nav li {
	color: #999;
	text-indent: 1em;
	font-size: 0.9em;
	cursor: pointer;
}
.btn-container .export-excel {
	margin-left: 0.5em;
	margin-top: 0;
}
.enh-table {
	margin-top: 1em;
}
/* footer section selectors */
#ft ul, #ft .two-col {
	text-align: center;
}
#ft ul li:first-child a {
	padding-left: 0;
}
/***************************** table split *****************************/
	/* Force table to not be like tables anymore */
.split-table, .split-table > thead, .split-table > tbody, .split-table > thead > tr > th, .split-table > tbody > tr > td, .split-table > thead > tr, .split-table > tbody > tr {
	display: block;
}
/* Hide table headers (but not display: none;, for accessibility) */
.split-table > thead > tr, .split-table > tbody > tr > th {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.split-table > thead > tr {
	border: 1px solid #ccc;
}
.split-table > tbody > tr > td {
	/* Behave  like a "row" */
	border: none;
	border-bottom: 1px solid #eee;
	position: relative;
	padding-left: 50%;
	min-height:2.6em;
}
.split-table > tbody > tr > td:before {
	/* Now like a table header */
	position: absolute;
	/* Top/left values mimic padding */
	top: 0.6em;
	left: 0.6em;
	width: 45%;
	padding-right: 1em;
	content: attr(data-title);/* Label the data */
	font-weight: bold;
}

.k-grid-header-wrap thead{ display:none;}
.ie9 .split-table > tbody > tr > td {
	float: left;
	clear: left;
	width: 100%;
}


.split-table .no-padd-left{ padding-left:0.6em !important;}
.btnmaintop {
	margin: 1em 0.8em 1em 0;
}
.btnmainbot {
	margin: 1em 0.8em 1em 0;
}
/* added by anil */
.textboxes-list-container {
	padding: 2em 0.6em 1em 0.6em !important;
}
.textboxes-list-container input, .textboxes-list-container select {
	width: 40%;
}
.textboxes-list-container label {
	display: block;
	width: 100%;
	clear: both;
	margin-left: 0;
	margin-top: 0.5em;
}
.textboxes-list-container .label {
	display: inline-block;
	width: 3em;
}
.zipcode label {
	display: inline;
	font-weight: bold;
	padding-right: 0.6em;
	width: auto;
}
.zipcode .label {
	width: auto;
}
.search-label fieldset {
	display: inline-block;
	vertical-align: middle;
	width: 70%;
	padding: 0;
	margin: 0;
}

/*.optionslist {
	padding-left: 0.6em !important;
	padding-top: 0.6em;
	position: relative !important;
}
.optionslist ul {
	padding-top: 2.6em;
}*/



.optionslisth li {
	display: block;
	padding-bottom: 0.2em !important;
	float:none;
}

.optionslisth li span{
	float:none;
}
.generatorslist {
	padding-bottom: 2em;
}
.selectfueltank table {
	border: solid 1px #ccc !important;
}
.selectfueltank .olddata {
	clear: both;
	display: table;
}
.manage-fuel-tanks .width40, .manage-fuel-tanks .width30 {
	width: 100% !important;
}
.manage-fuel-tanks input, .manage-fuel-tanks select {
	margin-bottom: 0.3em;
}
.manage-fuel-tanks .date {
	clear: both;
	display: table;
}

.census [class*="-col"] {
	height:auto;
	width:100% !important;
	padding: 0.5em;
}
.census .tdhead{
	width:100%;
}
.census .split-table > tbody > tr > td:before
{ font-weight:normal !important;}

.census .tdhead
{ font-weight:bold !important;
text-align:left !important;
padding-left:0.7em !important;
padding-top:0.7em; padding-bottom:0.7em}
.census input {
    margin:0.4em 0 0.4em 0;
    width: 75%;
}

.census td
{ background:#f8f8f8; border-bottom:solid 1px #fff !important;
}

.bedtypemap .w35{ clear:both; width:100%;}
.bedtypemap .arrowbtns{ clear:both; float:none; text-align:center; padding:1.5em 0;}
.bedtypemap .arrowbtns button{ margin:0 0.5em;}

.icon-left-open-1:before { content: '\e75f'; } /* '' */
.icon-right-open-1:before { content: '\e75c'; } /* '' */

.searchfacility .k-dropdown{
	width: 70%;
}

.k-window-content{ min-width:10em !important;  max-width:50em !important;}
.census-popup-window{ width:40em !important;}
.utility-popup-window{ width:30em !important;}


.k-window-content .census td{padding-top: 0.5em !important; padding-bottom: 0.5em !important;}
.k-window-content .census .cen-value{float:none !important; padding-top:0 !important;}
.census-popup-window .census td{ padding-left:50%;}
.census-popup-window .avlbeds{ float:none !important; padding-left:50%;}
.census-popup-window .census [class*="-col"]{ width: 97% !important;}
.census .avlbeds span{float:none !important; padding-top:0;}
.census-popup-window .row{}

.k-grid-content table{ display:block !important;}

.gridmobilev td{ border: medium none !important;
    min-height: 0 !important;
    padding-bottom: 0.5em !important;
    padding-top:0 !important;
    padding-left: 1.14286em !important;
}

.gridmobilev .tdtitle{text-align:left !important; background:none; width: 100% !important; padding-bottom:0 !important; padding-top:0.571429em !important; margin-bottom:0.2em !important;}


.emptyscrmsgs{font-size: 1.5em; font-weight:bold;}
.census .sTitle{ left:0.5em important;}

.modulelinks{ clear:both; float:left !important;}
}



/* targeting mobile portrait view */
@media only screen and (max-width : 26em) {
.shiftdate-valid{
    position:relative !important;
    top: 25px;
    right: 0px;
}         
.split-table > tbody > tr > td {
	padding: 0.6em;
	width: 100%;
	float: none;
}
.split-table > tbody > tr > td:before {
	position: relative;
	display: block;
	top: auto;
	left: auto;
	padding: 0;
	width: 100%;
	margin-bottom: 0.5em;
}
.btn-container .export-excel {
	margin-left: 0;
}
.btn-container .break:after {
	content: "\A";
	white-space: pre;
}
.textboxes-list-container input, .textboxes-list-container select {
	width: 80%;
}
.textboxes-list-container .label {
	display: inline-block;
	width: 100%;
}
.optionslist ul {
	padding-top: 0;
}
.optionslisth ul {
	padding-top: 0;
}
.grid-select-container .label {
	min-width: 100%;
}
.grid-select-container [class*="-col"] input, .grid-select-container [class*="-col"] select {
	width: 100%;
}
.zipcode {
	font-weight: bold;
	padding-top: 0.6em !important;
}
.searchfacility .k-dropdown{
	width: 100%;
}

.census input {
    margin:0;
    width: 85%;
}

.search-label fieldset {
	width: 100%;
}

.ie9 .split-table > tbody > tr > td {
	width: 100%;
}

.k-window-content{ min-width:10em !important;  max-width:22em !important;}
.census-popup-window{ width:20em !important;}
.utility-popup-window{ width:20em !important;}
.census-popup-window .census td{ padding-left:0 !important;}
.census-popup-window .avlbeds{ padding-left:0 !important;}


}
