@charset "utf-8";
/* CSS Common Styles */
h1, h2, h3, h4, h5, h6, th, var {
	font-style:normal;
	font-weight:bold;
}

img {
	border:none;
}
:focus {
	outline: none;
}
hr {
	/* background-color:#D4D4D4; */
	border:0 none;
	clear:both;
	/* color:#D4D4D4; */
	/* height:1px; */
	height: 1px;
	border: 0 none;
	margin: 0.2em;

}
/* .pageerror hr {
	background-color:#D4D4D4;
} */
/* CSS Common Styles */


.noBorder {
	border-bottom: 0px none #FFFFFF!important;
}

.wiDth200 {
	width:200px!important;
}

.paddingLR30TB15 {
	padding:15px 30px!important;
}
/*************Demo LoginPage Styles***********/

/************------ Start of Body Styles****************---------------*/
#container, .container {
	width: 100%;
}
#content, .content {
	padding: 0px;
	margin:  0px;
}
.floatLeft {
	float:left;
}
.floatRight {
	float:right;
}
.textBold {
	font-weight:bold;
}
.clear {
	clear:both
}

.customInlineLi li
{
    display:inline;
}

#section h2, .section h2 {
	color:#383939;
	margin:0;
	padding:5px 0px 7px 8px;
 *padding:5px 0px 6px 8px;
	font-size:11px;
}
#section h2 a, .section h2 a {
	text-decoration:none;
	padding:0;
	margin:0;
	color:#383939;
	width:100%;
	display:block;
}
#section h2.trigger, .section h2.trigger {
	background-image:url('../images/section_collapse.gif');
	background-repeat:no-repeat;
	background-position:99% 50%;
	display:block;
}
#section h2.triggerClosed, .section h2.triggerClosed {
	background-image:url('../images/close-button.gif');
	background-repeat:no-repeat;
	background-position:99% 50%;
	display:block;
}
#section h2.trigger:hover, .section h2.trigger:hover {
	display:block;
}
#section h2.active, .section h2.active {
	background-image:url('../images/section_expand.gif');
	background-repeat:no-repeat;
	background-position:99% 50%;
}
.toggle_container {
	background-color: #fff;
	padding:0px;
	margin:0px 0 0;
	overflow:auto;
	overflow-y:hidden;
}
.toggle_container p, a {
	/*padding: 5px 0 5px 0;*/
}

/*table for data */
.customDataTable {
	border-collapse:collapse;
	background-color:#ffffff;
	/*font-size:11px;*/
	width:100%;
	margin-bottom:0px;
}

.customDataTable th {
	border:1px solid #dedede;
	background-color:#ebebeb;
	text-align:left;
	padding:5px;
	vertical-align:top;
}

.customDataTable td {
	border:1px solid #dddddd;
	padding:0.5em;
	vertical-align:center;
}

/*.customDataTable td, .customDataTable tr {
	border:1px solid #dddddd;
	padding:5px;
	vertical-align:center;
}*/
.customDataTable td a {
	color:Blue !important;
	text-decoration:underline;
}
.customDataTable td a:hover {
	color:Blue;
	text-decoration:none;
}
.customDataTable td.borderLBnone {
	border-left:none !important;
	border-bottom:none !important;
	padding:5px;
	vertical-align:center;
}
.customDataTable td.borderRBnone {
	border-right:none !important;
	border-bottom:none !important;
	padding:5px;
	vertical-align:center;
}
.borderBnone {
	border-bottom:none !important;
}
.customDataTable td.borderBnone {
	border-bottom:none !important;
	padding:5px;
	vertical-align:center;
}
.customDataTable td.first {
	border-left:none !important;
}
.customDataTable td.last {
	border-right:none !important;
}
.customDataTable td.borderT {
	border-top:1px solid #dddddd !important;
}


.cssform {
	padding:10px;
	margin:0px 0 0 0;
	overflow-x:auto;
}

.ie7 .cssform {
    overflow-x:hidden;
    overflow:hidden;
}

.cssform p {
	clear: left;
	margin: 0;
	padding: 5px 0 5px 0;
	padding-left: 165px; /*width of left column containing the label elements*/
	border-top: none;
}
.cssform p a {
	color:blue !important;
	text-decoration:none;
}
.cssform p a:hover {
	color:blue !important;
	text-decoration:none;
}
.custom_label {
	position:absolute;
}
.cssform label {
	font-weight: normal;
	text-align:right;
	float: left;
	padding-top:1px;
	margin-left: -165px; /*width of left column*/
	width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
	padding-right:10px; /* gap to fit Required icon */
}
.cssform label.required { /* add the Required icon after the label */
	background-image:url('../images/required.gif');
	background-repeat:no-repeat;
	background-position:100% 17%;
}
.cssform .description {
	font-weight: normal;
	width:150px;
	font-size:11px;
	line-height:13px;
	color:#999999;
	display:block;
	padding:2px 0 5px 0;
}

.cssform .divLabel {
	font-weight: normal;
	text-align:right;
	float: left;
	padding-top:1px;
	margin-left: -165px; /*width of left column*/
	width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
	padding-right:10px; /* gap to fit Required icon */
}
.cssform .new {
	font-weight: normal;
	text-align:right;
	float: left;
	padding-top:1px;
	margin-left: -165px; /*width of left column*/
	width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
	padding-right:10px; /* gap to fit Required icon */
}

.inputClass { /*Ajaxcall input class for IE 6*/
	width:16em;
	width:16.07em \0/;
	*width:16em !important;
	*min-width:16em !important;
}



.inputClass2 { /*Ajaxcall input class for IE 6*/
	width:15em !important;
	*width:15em !important;
	*min-width:15em !important;
}


.inputClass2_facility { /*Ajaxcall input class for IE 6*/
	width:20em !important;
	*width:20em !important;
	*min-width:20em !important;
}


.inputClass2_region { /*Ajaxcall input class for IE 6*/
	width:9em !important;
	*width:9em !important;
	*min-width:9em !important;
}


.patientDropdownDiv
{
    padding:5px;
    float:left;
}

.patientDropdownLabel
{
    width:90px;
    text-align:right;
    margin-top:5px;
}


.inputClassText {
	/*width:16em !important ;
	*width:16em !important ;
	*min-width:16em !important;
	height:2em;*/
	
}

.inputClassBig {
	width:23em !important;
	*width:23em !important;
	*min-width:23em !important;
}

.ie7 .inputClassText
{
    /*height:1.4em;*/
}


input[type="checkbox"], input[type="radio"] {
	margin-right:2px;
}

.descTooltip, #descTooltip {
	font-size:11px;
	border:1px solid #fff;
}

/*
.errorMsg {
	color:#ff0000;
	margin: 0px;
	padding: 5px 0px 5px 18px;
	text-align: left;
	background: url(../images/erorr_icon.gif) no-repeat 0px 4px;
}
.successMsg {
	color:#0db318;
	margin: 0px auto;
	padding: 5px 0px 5px 18px;
	text-align: left;
	background: url(../images/success_icon.gif) no-repeat 0px 4px;
	margin-bottom:5px;
}
.alertMsg {
	color:#c66800;
	margin: 0px auto;
	padding: 5px 0px 5px 18px;
	text-align: left;
	background: url(../images/alert_icon.gif) no-repeat 0px 4px;
}
.genErrorMsg {
	color:#ff0000;
	padding:0px 0px 5px 2px;
}

*/

.description {
	color:#999999;
	display:block;
	font-size:11px;
	font-weight:normal;
	line-height:13px;
	padding:2px 0 5px;
	width:155px;
	float:left;
}

.required {
	background-image:url(../images/required.gif);
	background-position:100% 20%;
	background-repeat:no-repeat;
}

.paddingT6 {
	padding-top:6px;
}
.padding10 {
	padding:10px !important;
}
.paddingT10 {
	padding-top:10px !important;
}
.paddingLR10 {
	padding:0 10px !important;
}
.labelLeftMargin {
	margin:0px 0px 0px 165px;
 *margin:0px 0px 0px 0px;
}

input[type="submit"], input[type="button"], input[type="reset"] {
	padding: 3px 6px 3px 6px;
	overflow: visible;
	font-size:11px;
	cursor:pointer;
}

/*for FireFox*/
 input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner {
 border : 0px;
}
/*for IE8 */
 input[type="submit"]:focus, input[type="button"]:focus, input[type="reset"]:focus {
	outline : none;
}

.marginTL-10 {
	margin-top: -10px;
	margin-left: -10px;
}
.marginR10 {
	margin-right:10px !important;
}
.marginL-10 {
	margin-left: -10px;
}

.marginLRB-10 
{
    margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -10px;
}
.marginT5 {
	margin-top:5px;
}

.iconMarginT5 {
	margin-top:5px;
	
}

.ie7 .iconMarginT5 {
	margin-top:0px;
	margin-right:4px;
}

.ie7 .iconDocMargin {
	margin-top:5px;
	margin-right:5px;
}

.iconMarginB-2 {
	margin-bottom:-2px;
	
}

.marginT8 {
	margin-top:5px;
 *margin-top:8px;
}

.helpNormal
{
   font-size:0.9em;
    font-weight:normal;
}

.margin-top-15 {
	_margin-top:-15px;
}
.paddingT0 {
	padding-top:0;
}
.paddingL10 {
	padding-left:10px;
}
.marginB0 {
	margin-bottom:0px !important;
}
.marginB-10 {
	margin-bottom: -10px !important;
}

.marginT0 {
	margin-top:0px !important;
}
.marginT10 {
	margin-top:10px !important;
}
.marginT15 {
	margin-top:15px !important;
}
.marginT25 {
	margin-top:25px;
}
.marginB15 {
	margin-bottom:15px !important;
}
.marginB10 {
	margin-bottom:10px !important;
}
.marginT-10 {
	margin-top:-10px !important;
}

.ie7 .marginT-10 {
	margin-top:-20px !important;
}
.marginT-20 {
	margin-top:-20px !important;
}
.borderLRBnone {
	border-left:none !important;
	border-right:none !important;
	border-bottom:none !important;
}
.borderLRnone {
	border-left:none !important;
	border-right:none !important;
}
.borderLRB {
	border-left:1px solid #d1d1d1;
	border-right:1px solid #d1d1d1;
	border-bottom:1px solid #d1d1d1;
}
.borderLRTnone {
	border-top:none !important;
	border-left:none !important;
	border-right:none !important;
}
.borderLTnone {
	border-top:none !important;
	border-left:none !important;
}
.borderTnone {
	border-top:none !important;
}
.padding0 {
	padding:0px !important;
}
.paddingB10 {
	padding-bottom:10px;
}
.paddingB15 {
	padding-bottom:15px !important;
}
.padddingL1 {
	padding-left:1px !important;
}



.paddingL165 {
	padding:1px 0 1px 20%;
	padding-bottom:10px;
}
.paddingL100 {
	
}
.cssform select {
	width:90%	
}
.paddingL1 {
	padding-left:1px;
}
.tableBorderNone {
	border:none!important;
}
.txtAlignCenter {
	text-align:center;
}
.txtAlignLeft {
	text-align:left!important;
}

.check_radio_align {
	vertical-align:text-bottom;
 *vertical-align:middle;
	margin:0px;
	margin-right:3px;
 *margin-top: -2px
}
.width250 {
	width:250px !important;
}
.width270 {
	width:270px !important;
}
.width47per {
	width:47% !important;
}
.widthAuto {
	width:auto !important;
}
.width49perResp {
    width: 49.5% !important;
}
.ie7 .width49perResp {
    width: 49.2% !important;
}
.item_parent {
	width:100% ;
	*width:99%;
	height:auto;
}
.item_width {
	width:16em;
	float:left;
	margin-bottom:.6em;
 *margin-bottom:.6em;
}
.item_width90 {
	width:90px;
	float:left;
	margin-bottom:5px;
}
.item_width110 {
	width:110px;
	float:left;
	margin-bottom:5px;
}
.item_width105 {
	width:105px;
	float:left;
	margin-bottom:5px;
}
.item_width130 {
	width:132px;
 *width:140px;
	float:left;
	margin-bottom:5px;
 *margin-bottom:0px;
}
.item_width180 {
	width:180px;
	float:left;
	margin-bottom:5px;
}

.item_width320 {
	float:left;
	margin-bottom:5px;
	width:320px;
}

.description_data {
	color:#999999;
	font-size:11px;
	font-weight:normal;
	line-height:13px;
	padding:2px 0 5px;
}

.overflowX {
	overflow-x: auto;
 *overflow-y:none;
}

.marginTB10 {
	margin-top:10px;
	margin-bottom:10px;
}
.marginL10 {
	margin-left:10px !important;
}

.textalignR {
	text-align:right;
}

.textalignM {
	text-align:center;
}

.borderR {
	border-right:1px solid #ccc !important;
}

.borderRnone {
	border-right:none !important;
}
.borderBnone {
	border-bottom:none !important;
}
.borderLnone {
	border-left:none !important;
}

.dynamic_div_holder div {
	margin-bottom:5px;
}
label.lblfor {
	margin: 0px !important;
	padding: 0px !important;
	width: auto !important;
	float: none !important;
	line-height:16px;
}
.paddingT5 {
	padding-top:5px;
}
.paddingB5 {
	padding-bottom:5px;
}
.paddingB0 {
	padding-bottom:0px !important;
}
.displaynone {
	display:none;
}
.displayblock {
	display:block;
}

.displayInlineBlock {
	display:inline-block;
}

.displayNoneImportant {
	display:none  !important; 
}


.paddingT0 {
	padding-top:0 !important;
}

.marginR5 {
	margin-right:5px !important;
}
.marginL5 {
	margin-left:5px !important;
}

.customDataTable td.asTableHeader {
	background-color: #EBEBEB;
	border: 1px solid #DEDEDE;
	padding: 5px;
	text-align: left;
	vertical-align: top;
	font-weight:bold;
}

.cursorPointer, a {
	cursor:pointer;
}
.customDataTable img
{
    cursor:pointer;
}

.cursorPointer {
	cursor:pointer;
	color:Blue;
}

.width49per {
	height:auto;
	width:49% !important;
}
.negMarginTop13 {
 *margin-top:-13px;
}
span.disclaimer {
	color: green;
	font-weight: bold;
	font-size: 8px;
}
.overflowxhidden {
	overflow-x:hidden !important;
}
/* EDS Changes */
.paddingL7 {
	padding-left:7px;
}

.padding5 {
	padding:5px;
}
.paddingR10 {
	padding-right:10px;
}
.width180 {
	width:180px;
}
.margin15IE {
*margin-bottom:15px !important;
}
.marginL-5 {
	margin-left:-5px !important;
}
.marginT-4 {
	margin-top:-4px;
}

.ie7 .veiwallposition
{
    position: relative;
   /* top: -5px;*/
}
.positionStatic {
	position:static !important;
}
.overflowYauto {
	overflow-y: auto;
}
.paddingL15 {
	padding-left:15px;
}
.paddingL18 {
	padding-left:18px;
}

.marginL0 {
	margin-left:0px !important;
}
.marginR0 {
	margin-right:0px !important;
}
.paddingR5 {
	padding-right:5px;
}

.paddingR0 {
	padding-right:0px !important;
}

.marginB-35 {
/*margin-bottom:35px !important;*/
}
.paddingRight10 {
	padding-right:10px !important;
}

.width50 {
	width:50px;
}
.width150 {
	width:150px;
}



.item_nav {
	width:14.5em;
	float:left;
	margin-right:.2em;
	margin-bottom:.2em;
 *margin-bottom:.2em;
 color:#000;

}

.item_nav a {
	display:block;
	background:#f5f5f5;
 	text-align:left;
 	padding:0.3em;
	padding-left:0.7em;
 	
color:#000;

}

.item_nav a:hover {
	display:block;
	background:#868686;
 	text-align:left;
 	padding:0.3em;
	padding-left:0.7em;
 	
	color:#fff;


}

.item_nav_active a {
	display:block;
	background:#868686;
 	text-align:left;
 	padding:0.3em;
	padding-left:0.7em;
 	
	color:#fff;


}



 
 .underline_text{
	 
	 text-decoration:underline;
 }
 
 .menu-toparrow{
 background:url(../images/up-arrow.gif) no-repeat; height:11px; width:16px;  margin-left:2em; margin-bottom:-1px !important; display:block;
 }
 
 .menu-topline{
 height:1px; background:#ccc; width:100%; margin:0; margin-bottom:.18em;
 }
 .menu-bottomline{
 height:1px; background:#ccc; width:100%; margin:0;
 }
 
 
 
/* Facility dashboard styles */


.box-container.disabled,
.box-container[disabled] {
  opacity: 0.65;
  filter: alpha(opacity=65);
  cursor: default;
}
.box-container-body:before,
.box-container-body:after {
  display: table;
  content: "";
  line-height: 0;
}
.box-container-body:after {
  clear: both;
}
.box-container {
  position: relative;
  width: auto;
  border: 1px solid #dddddd;
 /* border-radius: 3px;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), color-stop(0.5, #ffffff));
  background-image: -webkit-linear-gradient(#f3f3f3, #f8f8f8 50%);
  background-image: -moz-linear-gradient(#f3f3f3, #f8f8f8 50%);
  background-image: -o-linear-gradient(#f3f3f3, #f8f8f8 50%);
  background-image: linear-gradient(#f3f3f3, #f8f8f8 50%);
  background-clip: padding-box;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF3F3F3', endColorstr='#ffF3F3F3', GradientType=0);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);*/
}
.box-container:before,
.box-container:after {

  z-index: -2;
  content: "";
}
.box-container:before {
 /*  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-top-left-radius: 100px 30px;
  border-top-right-radius: 100px 30px;
  border-bottom-left-radius: 100px 30px;
  border-bottom-right-radius: 100px 30px;*/
}
.box-container-header {
  padding: 10px 11px 10px 16px;
  border-bottom: 1px solid #D6D6D6;
  -webkit-box-shadow: 0 1px 0 #fff;
    background-color: #f3f3f3;
  height:2.6em;
  box-shadow: 0 1px 0 #f2f2f2;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), color-stop(0.5, #ffffff));
  background-image: -webkit-linear-gradient(#f3f3f3, #f8f8f8 50%);
  background-image: -moz-linear-gradient(#f3f3f3, #f8f8f8 50%);
  background-image: -o-linear-gradient(#f3f3f3, #f8f8f8 50%);
  background-image: linear-gradient(#f3f3f3, #f8f8f8 50%);
  background-clip: padding-box;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF3F3F3', endColorstr='#ffF3F3F3', GradientType=0);
}



.ie7 .box-container-header {
  padding: 10px 11px 10px 16px;
  border-bottom: 1px solid #D6D6D6;
  -webkit-box-shadow: 0 1px 0 #fff;
   box-shadow: 0 1px 0 #fff;
  height:1.2em;
}

.ie7 .box-container-body
{
    border-bottom:.01em solid #dddddd;
}

.box-container-header h3 {
  margin: 0;
  text-shadow: 0 1px 0 #fff;
  font-size: 14px;
  line-height: 1;
}

.marginT-1em{
    margin-top:inherit;
}
.ie7 .marginT-1em{
    margin-top:-1em;
}

.ie7 .box-container-header h3 span {
  margin-top: -20px;
  
}

.doubleWidth{
width:60%;  padding:0px; float:left; margin-right:1%; 
}

.singleWidth{
	width:29.5%;  padding:0px; float:left; margin-right:1%;
}

.singleWidthResponsive{
	width:39%;  padding:0px; float:left; 
}

.marginR8em{
	margin-right:.8em;
	
}

.marginB8em{
	margin-bottom:.8em;
}
.borderBottom{
border-bottom:1px solid #ccc;
}

.span15em{
width:15em; display:inline-block; font-weight:bold;
}

.redBorder{
	border-bottom:4px solid #fd0b0b;
	margin-bottom:.8em;
}

.greenBorder{
	border-bottom:4px solid #007a22;
	margin-bottom:.8em;
}

.greyBorder{
	border-bottom:4px solid #333333;
	margin-bottom:.8em;
}

.noColorBorder{
	border-bottom:0px solid #fd0b0b;
	margin-bottom:.8em;
}

.boxWidth{
	width:32.66% !important;
}

ie7.boxWidth{
	width:32.66% !important;
}


.inputClassTextSmall {
	width:6.1em !important ;
	*width:6em !important ;
	*min-width:6em !important;
	
}

.smallLable{
	width:9em;
	text-align:right;
	display:inline-block;
}

.autoLabel
{
  width:auto;
    text-align:left;
	display:inline-block;
	font-weight:bold;	
	padding-right:.5em;  
}

 .yellow-div{
 	background: #FFFCDB;
 }
 .red-div {
 	background: #FEEDEB;
 }
 .green-div {
 	background: #E6FFE7;
 }
 
 
.quickLinksText {
    font-weight: bold;
    margin-left: 15px;
    margin-top: -36px;
    float:left;
}
.ie7 .quickLinksText {
    font-weight: bold;
    margin-left: 15px;
    margin-top: 0px;
}
.fontSize-1em {
    font-size: 1em;
}

.previousData
{
    font-size:0.95em;
    color:grey;
}

.width16em
{
    width:16em;
}

.borderTLR
{
    border:1px solid #ccc;
    border-bottom:none;
}
.padd185em {
    padding: 1.45em;
}

.ie9 .padd185em {
    padding: 1.14em 1.48em;
}

.ie8 .padd185em {
    padding: 1.28em 1.48em;
}

.ie7 .padd185em {
    padding: .9em 1.50em;
}


.width100per
{
    width:100%;
}


.marginR1per
{
    margin-right:1%;
}

.marginB1per
{
    margin-bottom:1%;
}
.labelAlign{
	
	text-align:right;
}

.marginL90
{
    margin-left:100px;
}

.marginL80
{
     margin-left:80px;
}

.width44Per
{
    width:44%;
}

.ie7 .width44Per
{
    width:42.5%;
}

.width10Per
{
    width:10%;
}

.arrowbuttons
{
    padding:7em 1em;
}

.navigation-header {
  padding: 10px 11px 10px 16px;
  border-bottom: 1px solid #D6D6D6;
  -webkit-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
  color:#fff;
  background-color: #272727;
  height:2.6em;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), color-stop(0.5, #ffffff));
  background-image: -webkit-linear-gradient(#ACACAC, #828282 50%);
  background-image: -moz-linear-gradient(#ACACAC, #828282 50%);
  background-image: -o-linear-gradient(#ACACAC, #828282 50%);
  background-image: linear-gradient(#ACACAC, #828282 50%);
  background-clip: padding-box;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ACACAC', endColorstr='#828282', GradientType=0);
}



.ie7 .navigation-header {
  padding: 10px 11px 10px 16px;
  background:#828282;
  border-bottom: 1px solid #D6D6D6;
  -webkit-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
  height:1.2em;
}

.navigation-header h3 {
  margin: 0;
 /* text-shadow: 0 1px 0 #fff;*/
  font-size: 14px;
  line-height: 1;
}

/* font styles */

/*facility dashboard */

.icon-attention{
	/*color:red;
	font-size:1.3em;*/
	
}

.bd2 .icon-help-circled, #bd2 .icon-help-circled, .bd2 .icon-doc, .div-title .icon-doc
{
    cursor:pointer;
    color:#838383;
}

.icon-help-circled
{
     cursor:pointer;
}

.icon-ok-circle{
	/*color:green;
	font-size:1.3em;*/
}

.icon-right-dir{
	color:#ffffff;
	height:20px;
	width:18px;
	display:inline-block;
	/*font-size:1.3em;*/
}

.icon-flash{
   color:#878787;
	font-size:1.3em; 
}

.ie7 .width250
{
    width:251px !important;
}

.overflowHidden
{
    overflow:hidden;
}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

 
  .width24{
	display: inline-block;
    width: 24%;
 }
 
 .box-container-body-scrollable{
	height:155px; overflow-y:auto; overflow-x:hidden; background-color:#ffffff;
	 
 }
 
 .paddingL5{
	 padding-left:5px;
 }
 
 .labelAlign{
	
	text-align:right;
}
 
 /* top menue styles  */
 
 /*menu starts here*/
.menuHeight{
	height:53px;
}
.ie7 .menuHeight{
	height:36px;
}
 
.datacellMenu {
	width:auto;
	/*height:36px;
	float:left;
	margin-left:16px;*/
	position:relative;
	border-bottom:0;
	/*z-index: 99999;
	padding-bottom: 1px;
	margin-bottom: -1px;*/
    *display:inline;
}


.datacellMenu ul {
	list-style:none;
	margin:0;
	padding:0;
	*width:100%;
	zoom:1;
}
.datacellMenu li {
	list-style:none;
	margin:0;
	padding:0;
	float:left;
	/*background-color:#fff;
	margin-right:0px;
	margin-top:1px;
	border-right: 1px solid #ccc;*/
    
	border-bottom:0; max-width:auto; 
	/*-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0 */
}

.k-tabstrip-items li{max-width:9.4em;}



.datacellMenu li:first-child {
	/* -moz-border-radius: 4px 0 0 0;
	-webkit-border-radius: 4px 0 0 0;
	border-radius: 4px 0 0 0;
	margin-left:0 */
}
.datacellMenu li:last-child {
/*	-moz-border-radius: 0 4px 0 0;
	-webkit-border-radius:0 4px 0 0;
	border-radius:0 4px 0 0; */
}
.datacellMenu li a {
	/*font: normal 12px "Trebuchet MS", Arial, Helvetica, sans-serif; */
	color: #555555;
	text-decoration:none;
	float:left;
	padding:8px 18px;
	display:inline-block; min-height:53px; text-align:center;
	/*line-height:25px;*/
	margin: 0;
	width:auto;
	outline:0 none
}

.ie7 .datacellMenu li a {
	/*font: normal 12px "Trebuchet MS", Arial, Helvetica, sans-serif; */
	color: #555555;
	text-decoration:none;
	float:left;
	padding:8px 18px;
	display:inline-block; min-height:48px; text-align:center;
	/*line-height:25px;*/
	
	width:auto;
	outline:0 none
}

.datacellMenu li a:hover {
	color: #212121;
	background-color:#fff;
	/*padding:8px 18px;
	border-bottom:1px solid #ccc;
	margin-left:1px;*/
}

.ie7 .datacellMenu li a:hover {

	/*border-bottom:0px solid #ccc;
	margin-left:1px;*/
}



.datacellMenu li a.current{color: #212121;}

.datacellMenu li.menu-item-active {
	/*border: 1px solid #c4c4c4;*/
	border-bottom:0;
	background-color:#fff !important;
	padding:0px;
	/*margin-left:-1px;*/
	margin:0px;
	
}

.ie7 .datacellMenu li.menu-item-active {
	
	background:#fff !important;
	background-color:#fff !important;
	
}
.datacellMenu li.menu-item-active:hover {
	background-color:#fff!important;
	padding:0px
	margin:0px;
	
}
.datacellMenu li.menu-item-top-hover {
	/*border: 1px solid #c4c4c4;*/
	background-color:#fff!important;
	/*padding:1px 1px 0 1px;
	margin-right:0;
	margin-left:-1px;
	margin-top:0;*/
}
.datacellMenu li.menu-item-top-hover:first-child {
	margin-left:0;
	padding-left:0
}
.datacellMenu li.menu-item-active:first-child {
	margin-left:0;
	padding-left:0
}

.width75per{
	width:75%;
}

.icon-floppy{
	color:#656565;
	font-size:2em;
	cursor:pointer;
}

.warningColor{
color:#FF6700;
}

.customErrorInfo
{
    font-size:1.4em;
    font-weight:bold;
}


.ie7 bolt-icon
{
    width:16px;
}
.blot-label{
 position:relative; bottom:7px;
}

.ie7 .chartBoxHeight{
min-height:400px;
height:auto;
}

.SearchButtonMargin
{
    margin-left:2%;
}

.marginB1em
{
    margin-bottom:1em;
}


.datacellScrollableDiv
{
   max-height:300px; overflow-y:auto; overflow-x:hidden; margin:0px; padding:0px; border-bottom:1px solid #ccc; 
}

.datacell-body-container-height
{
    /*min-height:333px;*/
    min-height:357px;
}

.datacell-tabcontent-height
{
   background: #fff !important; min-height: 316px !important; height:316px; word-break:break-all; word-wrap:break-word; overflow-x:hidden; overflow-y: auto; color: #000 !important;
}

.ie7 .datacell-tabcontent-height
{
    min-height: 326px !important; height:354px;
  width:96%;
  word-break:break-all; word-wrap:break-word; overflow-x:hidden; overflow-y: auto !important; color: #000 !important;
}

.datacell-tabcontent-height ul li
{
list-style-type: disc !important; 
list-style-position: inside;
}

.datacell-tabcontent-height ol li
{
list-style-type: decimal !important; 
list-style-position: inside;
}

.facility-pagename
{
    padding:5px; border-bottom:1px solid #f5f5f5; /*border-top:1px solid #f5f5f5;*/ font-weight:bold;
}

/*.table-nh {
    display: table;
    width: 100%;
}
.table-nh .tr {
    display:table-row;
}
.table-nh .td {
    display:table-cell;
    padding:0.7em;
}*/


 .customFormating ol, .customFormating ul
 {
     margin:16px;
 }
 
 .customFormating li
 {
     float:none; list-style:inherit;
 }
 
 .customFormating p
 {
     padding:0px;
 }


.red-bold-text
{
    
font-weight:bold;
color:red ;
    
}

.dashboardChartText
{
    display:block;
    position:relative;
    min-height:18px;
    z-index:10;
}


.ie7 .row .cssform [class*='-col'] 
{
   /* width:auto;*/
}

.ie7 .width_ie7
{
    width:99%;
}

.fullBorder
{
    border:1px solid #ccc;
}



/* Icon classes  */

/* Icon classes  */


.statusUpdateTable
{
    width:100%;
    border:0px;
    border-collapse:separate;
    border-spacing:.8em !important;
}

.statusUpdateTable td
{
    border:1px solid #ccc;
    padding:0px;
    vertical-align:top;
    margin:0px;
}

.tdPadding td 
{
    padding:5px !important;
}



.helpNormal
{
   font-size:0.9em;
    font-weight:normal;
}

.table-wrapperScroll
{
width:1024px;
overflow:auto;
}

.table-heading
{
    margin-bottom:-5px; margin-top:-5px; float:left; font-weight:bold; padding-left:10px;
}

.ie7 .padd05em input[type="text"], .ie7 .padd1em input[type="text"]{padding-top:0px !important; padding-bottom:6px;}


 .patientFilterDiv {background-color:#f1f1f1; padding-bottom:5px;}
 .ie7 .patientFilterDiv {background-color:#f1f1f1; padding:10px; padding-top:20px;}
 
 .icons{margin-top:5px;}
 .ie7 .icons{margin-top:0px;}
 
 .paddingLR8{*padding-left:1px !important; *padding-right:0px !important;}
 
 .ie7 .marginL8{margin-left:8px;}
 

.statusUpdateBoxWidth {
    min-height: 151px !important;
    height:auto;
    /*margin-top:-1.55em !important ;*/
}

.statusUpdateBoxWidth .div-title{ margin-top:-1.3em ;}

 .ie7 .statusUpdateBoxWidth .div-title, .ie8 .statusUpdateBoxWidth .div-title, .ie9 .statusUpdateBoxWidth .div-title, .ie10 .statusUpdateBoxWidth .div-title, .ie11 .statusUpdateBoxWidth .div-title {
	
	margin-top:0px !important;
}


.statusUpdateCommentSpacer{
background:#fff; width:100.5%; border:1px solid #ccc; border-left:1px solid #fff; border-right:1px solid #fff; height:12px; margin-left:-1px; position:relative; margin-bottom:1.3em;
}

.ie7 .statusUpdateCommentSpacer, .ie8 .statusUpdateCommentSpacer, .ie9 .statusUpdateCommentSpacer, .ie10 .statusUpdateCommentSpacer, .ie11 .statusUpdateCommentSpacer
{
    margin-bottom:0px;
}

.module-container .btn-container 
{
    width:auto !important;
    
}
#bd2 .row .one-col, .gridsearch .one-col
{
    width:auto;
}

.history-box .width25

{
    width:25% ;
}


/* IE 10 + css hack */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

.statusUpdateBoxWidth .div-title
{
    margin-top:0px !important;
}
.statusUpdateCommentSpacer
{
    margin-bottom:0px !important;
}

}



.datacell-contactnoDiv {
    max-height: 192px;
    min-height:31px;
    (-bracket-:hack;
        max-height: 186px;
    );
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
   .datacell-contactnoDiv {
        max-height: 186px;
    }
}
 
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
/* IE10+ specific styles go here */
.datacell-contactnoDiv {
        max-height: 191px;
    }
}


