// ****************************************
// vars
// ****************************************

$nav-width       : 240px;
$app-alerts-width: 240px;

// animations
$transition__all-ease          : 0.3s ease;
$transition__default-ease      : cubic-bezier(0.77, 0, 0.175, 1);
$transition__default-time-ease : 0.3s $transition__default-ease;
$transition__default-all       : all 0.3s $transition__default-ease;
