// ****************************************
// Shelteree header
// ****************************************
.shelteree-header {
    position: relative;
    width: 100%;
}

.shelter-census {
    background-color: $base-white;
    padding: 5px 10px;
    text-align: center;
    position: absolute;
    top: -5px;
    right: 40px;

    @include MediaQueries($xlarge-and-above) {
        right: 0;
    }

    @include MediaQueries($mobile) {
        width: 100%;
        top: 45px;
        left: 0;
        right: auto;
        text-align: left;
    }

    &__icon {
        color: $base-cyan;

        &::before {
            @extend .f-icon:before, .f-icon__census:before;
            font-size: 2.4rem;
            cursor:auto;
        }
    }

    &__text {
        font-size: 1.5rem;
    }

    strong {
        font-weight: $bold;
        font-size: 1.8rem;
    }
}

.is-shelteree-section {
    margin-top: 110px;

    @include MediaQueries($mobile) {
        margin-top: 200px;
    }
}

.shelteree-header__nav-list {
    @extend %no-list;
    position: absolute;
    right: 0;

    li {
        margin-left: 10px;
        display: inline-block;
    }
}

.shelteree-header__shelter {
    @extend .flex-row;
    position: absolute;
    top: 50px;
    width: 100%;
    margin: 20px 0;

    &-dropdown {
        @extend .flex-col__1-2, .flex-col-sm__full;

        &__value-label {
            font-weight: $bold;
        }
    }

    &-event {
        @extend .flex-col__1-2, .flex-col-sm__full, .flex--right-align;
        text-align: right;

        @include MediaQueries($mobile) {
            text-align: left;
            margin: 10px 0 0;
        }
    }

    &-event__name {
        // font-size: 1.6rem;
        // font-weight: $bold;
        text-transform: capitalize;
    }

    &-event__duration {
        //font-size: 1.2rem;
    }
}

// alignment fixes
.shelteree-header.is-option-one {
    .shelteree-header__shelter {
        top: 35px;
        background: #fff;
        padding: 15px;
        border: 1px solid #ddd;

        @include MediaQueries($mobile) {
            top: 70px;
        }
    }

    .custom-select {
        max-width: calc(80% - 6px);

        @include MediaQueries($mobile) {
            max-width: 100%;
        }
    }
}

.app-content.shelteree-header-option-two {
    .shelteree-header__shelter {
        top: 15px;
    }

    .is-shelteree-section {
        margin-top: 140px;
    }
}

.app-content.shelteree-header-option-three {
    .shelteree-header__shelter {
        background-color: transparent;
        padding: 0 0 20px;
        border-width: 0 0 1px;
    }

    .custom-select {
        max-width: 80%;
    }

    .is-shelteree-section {
        margin-top: 150px;
    }
}
